{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
<div class="container">
</br>
  <!-- Título -->
  <h1 class="display-4">Estudiantes</h1>
</br>
  {% if estudiantes %}
  <!-- Lista de estudiantes -->
  <h6 class="text-uppercase font-weight-bolder opacity-6">Lista de estudiantes</h6>
  
   <!-- Tabla -->
  <div class="table-responsive">
    <table id="datatable" class="table align-items-center table-hover">
    <thead class="thead">
      <tr>
        <th scope="col">Carne</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo</th>
        <th scope="col">Carrera</th>
        <th scope="col">Tutor</th>
        <th scope="col">Horas Totales</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for estudiante, horas in zipHoras %}
      <tr>
        <td>{{ estudiante.user.username }}</td>
        <td>{{ estudiante.user.first_name }}</td>
        <td>{{ estudiante.user.last_name }}</td>
        <td>{{ estudiante.user.email }}</td>
        <td>{{ estudiante.carrera.nombre }}</td>
        <td>{{ estudiante.tutor}}</td>
        <td>{{ horas}}</td>



        <td style="text-align: center"><a href="editar_estudiante/{{ estudiante.id }}"class="btn btn-info" role="button">Asignar Tutor</a></td>
      </tr>
      {% endfor %}
     
  </tbody>
    </table>
  </div>
    {% else %}
  <strong>No hay estudiantes registrados</strong>
{% endif %}
</div>
{% endblock %}



