{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}

{% load static %}

<!-- Título -->
<h1 class="display-4">Estudiantes</h1>

<!-- Lista de estudiantes -->
<div class="mt-5">
  <h6 class="text-uppercase font-weight-bolder opacity-6">Lista de estudiantes</h6>
</div>

<form method="post">
  {% csrf_token %}
  <!-- Tabla -->
  <div class="card">
    <div class="card-body">
      {% if estudiantes %}
      <!--Tabla de estudiantes-->
      <div class="table table-responsive">
        <table id="estudiantes-table" class="table align-items-center table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Carné</th>
              <th scope="col">Nombre</th>
              <th scope="col" >Correo</th>
              <th scope="col" >Carrera</th>
              <th scope="col">Tutor</th>
              <th scope="col">Inicio del TCU</th>
              <th scope="col">Finalización del TCU</th>
              <th scope="col">Horas Totales</th>
            </tr>
          </thead>
          <tbody>
            {% for estudiante, horas , porcentaje, porcentajeWidth in zipHoras %}
              
            <tr class="fila_tabla">
              <td>
                <!-- Editar -->
                <a href="editar_estudiante/{{ estudiante.id }}" class="text-warning" role="button">
                  <svg class="nav-icon" width="16" height="16">
                    <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-pencil"></use>
                  </svg>
                </a>
              </td>
              <td>{{ estudiante.user.username }}</td>
              <td>{{ estudiante.user.first_name }} {{ estudiante.user.last_name }}</td>
              <td><span class="label Correo">{{ estudiante.user.email }}</span></td>
              <td><span class="label Carrera">{{ estudiante.carrera.nombre }}</span></td>
              <td>{{ estudiante.tutor}}</td>
              <td>{{ estudiante.fechaInicioTCU}}</td>
              <td>{{ estudiante.fechaFinTCU}}</td>
              <td>
                <!--{{ horas}}-->
                <div class="progress-wrapper">
                  <div class="progress-info">
                    <div class="progress-percentage">
                      <span class="text-sm font-weight-bold">{{ horas }} horas de 300</span>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="66.0" aria-valuemin="0" aria-valuemax="100" style="width: 66.0%;">
                      <!--
                      Permite aplicar script para el elemento actual del documento. Tomado y modificado de: https://stackoverflow.com/questions/9209823/what-is-the-current-element-in-javascript
                        -->
                      <script>
                        'use strict';
                        var scriptTag = document.getElementsByTagName('script');
                        scriptTag = scriptTag[scriptTag.length - 1];
                    
                        var parent = scriptTag.parentNode;
                        if(parent.className=="progress-bar bg-gradient-primary"){
                          parent.setAttribute("aria-valuenow", "{{porcentaje}}");
                          parent.setAttribute("style",  "width: {{porcentajeWidth}}%;");
                        }
                      </script>
                    </div>
                    
                  </div>
                  
                </div>
    
    
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
        <strong>No hay estudiantes registrados</strong> 
      {% endif %}
    </div>
  </div>
</form>

<!--Modal-->
<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información adicional</h5>
        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="p_correo"></p>
        <p id="p_carrera"></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!--JQuery para el modal-->
<script>
  $(".fila_tabla").click(function(){
    $('#myModal').modal('show')
    var row = $(this).closest("tr");
    var correo = row.find(".label.Correo").html()
    var carrera = row.find(".label.Carrera").html()
    $('#p_correo').text("Correo: " + correo)
    $('#p_carrera').text("Carrera: " + carrera)
  });

  $('td:nth-child(4),th:nth-child(4)').hide();
  $('td:nth-child(5),th:nth-child(5)').hide();
</script>

{% endblock %}



