{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
<div class="container">
</br>
  <!-- Título -->
  <h1 class="display-4">Estudiantes</h1>
</br>
  {% if estudiantes %}
  <!-- Lista de estudiantes -->
  <h6 class="text-uppercase font-weight-bolder opacity-6">Lista de estudiantes</h6>
  
   <!-- Tabla -->
  <div class="table-responsive">
    <table id="datatable" class="table align-items-center table-hover">
    <thead class="thead">
      <tr>
        <th scope="col">Carne</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo</th>
        <th scope="col">Carrera</th>
        <th scope="col">Tutor</th>
        <th scope="col">Inicio del TCU</th>
        <th scope="col">Finalización del TCU</th>
        <th scope="col">Horas Totales</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for estudiante, horas , porcentaje, porcentajeWidth in zipHoras %}
      <tr>
        <td>{{ estudiante.user.username }}</td>
        <td>{{ estudiante.user.first_name }}</td>
        <td>{{ estudiante.user.last_name }}</td>
        <td>{{ estudiante.user.email }}</td>
        <td>{{ estudiante.carrera.nombre }}</td>
        <td>{{ estudiante.tutor}}</td>
        <td>{{ estudiante.fechaInicioTCU}}</td>
        <td>{{ estudiante.fechaFinTCU}}</td>
        <td>
          <!--{{ horas}}-->
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="progress-percentage">
                <span class="text-sm font-weight-bold">{{ horas }} horas de 300</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="66.0" aria-valuemin="0" aria-valuemax="100" style="width: 66.0%;">
                <!--
                 Permite aplicar script para el elemento actual del documento. Tomado y modificado de: https://stackoverflow.com/questions/9209823/what-is-the-current-element-in-javascript
                  -->
                <script>
                  'use strict';
                  var scriptTag = document.getElementsByTagName('script');
                  scriptTag = scriptTag[scriptTag.length - 1];
              
                  var parent = scriptTag.parentNode;
                  if(parent.className=="progress-bar bg-gradient-primary"){
                    parent.setAttribute("aria-valuenow", "{{porcentaje}}");
                    parent.setAttribute("style",  "width: {{porcentajeWidth}}%;");
                  }
                </script>
              </div>
              
            </div>
            
          </div>


        </td>



        <td style="text-align: center"><a href="editar_estudiante/{{ estudiante.id }}"class="btn btn-info" role="button">Asignar Tutor</a></td>
      </tr>
      {% endfor %}
     
  </tbody>
    </table>
  </div>
    {% else %}
  <strong>No hay estudiantes registrados</strong>
{% endif %}
</div>
  
{% endblock %}



