{% extends 'base.html' %} 

{% load static %}

{% load crispy_forms_tags %} 

{% block page_title %} Inicio {% endblock %}

{% block main %} 

<div class="container">

    </br>
    <h1>Página de registro de horas</h1>
    </br>
    {% if not request.user.is_staff   %}

        Usuario: {{user.username}} <br>
        Nombre: {{user.first_name}} <br>
        Apellido: {{user.last_name}} <br>
        <br>

    {% else %}
        {% if request.user.is_staff and  estudiante_actual.user.id != request.user.id %}
          Usuario: {{estudiante_actual.user.username}} <br>
          Nombre: {{estudiante_actual.user.first_name}} <br>
          Apellido: {{estudiante_actual.user.last_name}} <br>
          <br>
        {% else %}
          Usuario: {{user.username}} <br>
          Nombre: {{user.first_name}} <br>
          Apellido: {{user.last_name}} <br>
          <br>
        {% endif %}
      
    {% endif %}

    <br>
    {% if  request.user.is_staff and  estudiante_actual.user.id == request.user.id %}
  
        Cantidad de estudiante activos: {{numeroEstudiantes}}<br>
        Cantidad de proyectos: {{numeroProyectos}}<br><br>

    {% endif %}


    
{% if  request.user.is_staff and estudiante_actual.user.id != request.user.id  or not request.user.is_staff %}
<h2>Progreso de horas</h2>
</br>

          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="progress-percentage">
                <span class="text-sm font-weight-bold">{{ progreso }} horas de 300</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="66.0" aria-valuemin="0" aria-valuemax="100" style="width: 66.0%;">
              
              </div>
              {{width}} %
            </div>
            
          </div>
        </br>


        <h2>Dias desde inicio del TCU</h2>
        </br>

          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="progress-percentage">
                <span class="text-sm font-weight-bold">Fecha Inicio TCU:          {{ inicioTCU }} </span> </br>
                <span class="text-sm font-weight-bold">Fecha Finalización TCU:    {{ finalTCU }} </span> </br></br>
                <span class="text-sm font-weight-bold">{{ diasTCU }} dias de {{ totalDiasTCU }}</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="66.0" aria-valuemin="0" aria-valuemax="100" style="width: 66.0%;">
              
            </div>
            {{porcentajeWidthDaysYear}}%
            </div>
            
          </div>
        </br>

        <h3>Factor de Avance :  </h3>
        <div>
        {{factorDeAvance}}
        </div>
      </br>
        
        </br>
<form method="post">
    {% csrf_token %}        
          
            <button type="submit"   name="actividadListButton"  value="{{ user.id }}" class="btn btn-primary btn-block">Mostrar Actividades Actuales</button>

            <div id="activeActivities" >
             
              
              {% for hierarchy, dir in zipDirectorio %}
                {% if hierarchy == "proyecto" %}
                  <h3>
                    
                    {{dir}}  
                  </h3>
                {% endif %}


                {% if hierarchy == "objetivo" %}
                  <h4>
                    {{dir}}  
                  </h4>
                {% endif %}


                <!--Cambio de Meta a Tarea-->


                {% if hierarchy == "tarea" %}
                  <h6>
                    {{dir}}  
                  </h6>
                {% endif %}


                {% if hierarchy == "actividad" %}
                  <h7>
                    {{dir}}  </br>
                  </h7>
                {% endif %}
                

              {% endfor %}
              
            </div>
</form>        
{% endif %}
<br>
<br>
<br>
<!--Calendar google start-->
  <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
    <!-- Calendar -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["calendar"] });
      google.charts.setOnLoadCallback(drawChart);
  
      function drawChart() {
        var horas = "{{ horasPorDia|safe }}";
        var horasDia = new Array((parseInt("{{numeroActividades}}")));
        horasDia[0] = [{ label: 'Fecha', type: 'date' }, { label: 'Horas', type: 'number' }];
        for (let i = 0; i < parseInt("{{numeroActividades}}"); i++) {
          horasDia[i + 1] = [new Date(horas[i][0], horas[i][1]-1, horas[i][2]), horas[i][3]];
        }
        var dataTable = new google.visualization.arrayToDataTable(horasDia);
  
        var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));
  
        var options = {
          title: "Calendario de horas por semana-día",
          height: 350,
        };
  
        chart.draw(dataTable, options);
      }
    </script>  
    <!-- Calendar -->
  <div id="calendar_basic" style="width: 1000px; height: 200px;"></div>
  <!--Calendar google end-->

  <!--Visualizacion 2 start-->
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table, 
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Mes');
      data.addColumn('number', 'Horas');
      data.addRows([
        ['Enero', parseInt("{{horasPorMes.0}}")],
        ['Febrero', parseInt("{{horasPorMes.1}}")],
        ['Marzo', parseInt("{{horasPorMes.2}}")],
        ['Abril', parseInt("{{horasPorMes.3}}")],
        ['Mayo', parseInt("{{horasPorMes.4}}")],
        ['Junio', parseInt("{{horasPorMes.5}}")],
        ['Julio', parseInt("{{horasPorMes.6}}")],
        ['Agosto', parseInt("{{horasPorMes.7}}")],
        ['Septiembre', parseInt("{{horasPorMes.8}}")],
        ['Octubre', parseInt("{{horasPorMes.9}}")],
        ['Noviembre', parseInt("{{horasPorMes.10}}")],
        ['Diciembre', parseInt("{{horasPorMes.11}}")]
      ]);

      // Set chart options
      var options = {
        'title': 'Horas por meses',
        'width': 400,
        'height': 400
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>

  <!--Div that will hold the pie chart-->
  <div id="chart_div" style="width:150; height:150"></div>
  <!--Visualizacion 2 end-->

  <!--Line chart start-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

      var horas = "{{ horasOrdenadas|safe }}";
      var horasDia = new Array((parseInt("{{numeroActividades}}")));
      horasDia[0] = [{ label: 'Fecha', type: 'date' }, { label: 'Horas', type: 'number' }];
      for (let i = 0; i < parseInt("{{numeroActividades}}"); i++) {
        horasDia[i + 1] = [new Date(horas[i][0], horas[i][1]-1, horas[i][2]), horas[i][3]];
      }
      var data = new google.visualization.arrayToDataTable(horasDia);

      var options = {
        'title': 'Horas por día',
        hAxis: {
          title: 'Fecha'
        },
        vAxis: {
          title: 'Horas'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div2'));

      chart.draw(data, options);
    }
  </script>

  <div id="chart_div2"></div>
  <!--Line chart end-->

</div>

<!--Script para barra de progreso de horas-->
<script type="text/javascript">
  const collection = document.getElementsByClassName("progress-bar bg-gradient-primary");
  if (collection.length!=0){
    collection[0].setAttribute("aria-valuenow", "{{porcentaje}}");
    collection[0].setAttribute("style", "width: {{width}}%;");

    collection[1].setAttribute("aria-valuenow", "");
    collection[1].setAttribute("style", "width: {{porcentajeWidthDaysYear}}%;");
  }
</script>

<script  type="text/javascript">
  function confirmarMostrarActividades(){
   
      const actividadDisplay = document.getElementById('activeActivities');

      actividadDisplay.setAttribute("style", "display:block");
    
  }
</script>
 

</div>

{% endblock %}