{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %} {% load static %}

<div class="container">
    </br>
    <h1>Página de registro de horas</h1>
    </br>
    Usuario: {{user.username}} <br>
    Nombre: {{user.first_name}} <br>
    Apellido: {{user.last_name}} <br>
    <br>
    <br>
    {% if request.user.is_staff %}
    Cantidad de estudiante activos: <br>
    Cantidad de proyectos: <br>

    {% else %}
    Fecha de inicio del TCU: <br>
    <br>
    Progreso del periodo regular: <br>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
            aria-valuemin="0" aria-valuemax="100">10%</div>
    </div>
    Progreso de horas: <br>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100">50%</div>
    </div>

    {% endif %}

</div>

{% endblock %}