{% extends 'base.html' %}

{% load static %}

{% block page_title %} Panel {% endblock %}

{% block main %}

{% if request.user.is_staff %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<h1 class="display-4">Panel</h1>

<dl>
    <dt>Usuario:</dt> <dd>{{user.username}}</dd>
    <dt>Nombre:</dt> <dd>{{user.first_name}}</dd>
    <dt>Apellido:</dt> <dd>{{user.last_name}}</dd>
    <br>
    <dt>Cantidad de estudiante activos:</dt> <dd>{{numeroEstudiantes}}</dd>
    <dt>Cantidad de proyectos:</dt> <dd>{{numeroProyectos}}</dd>
    <br>
</dl>

<h3>Horas trabajadas por proyecto</h3>

<div id="container" style="width: 50%;">
    <canvas id="bar-chart"></canvas>
</div>
</br></br>

<h3>Ranking de estudiantes por índice de avance</h3>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Índice de avance de estudiantes</h5>
        <h6 class="card-subtitle mb-2 text-muted">Ránking por índice de avance</h6>
        <div id="container" style="width: 50%;">
            <canvas id="ranking-estudiantes-actividades"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctxRanking = document.getElementById('ranking-estudiantes-actividades').getContext('2d');
    var listData = "{{ dataRankingEstudiante|safe }}"
    var listLabels = "{{ labelsRankingEstudiante|safe }}"
    var colorList = "{{ colorListRankingEstudiante|safe }}"
    var rankingIndiceAvance = {{ rankingIndiceAvance|safe }} // Funciona aunque marque error de { } en IDE

    listData = listData.slice(1);
    listData = listData.slice(0, listData.length - 1);
    listLabels = listLabels.slice(1);
    listLabels = listLabels.slice(0, listLabels.length - 1);
    colorList = colorList.slice(1);
    colorList = colorList.slice(0, colorList.length - 1);

    var newlistData = listData.split(',')
    var newlistLabels = listLabels.split(',')
    var newcolorList = colorList.split(', ')

    count = 0
    for (color in newcolorList) {
        newcolorList[count] = newcolorList[count].slice(1)
        newcolorList[count] = newcolorList[count].slice(0, newcolorList[count].length - 1)
        count = count + 1
    }

    const myChartRanking = new Chart(ctxRanking, {
        type: 'bar',
        data: {
            labels: newlistLabels,
            datasets: [{
                barThickness: 30,
                label: 'Índice de avance por estudiante',
                data: rankingIndiceAvance,
                backgroundColor: newcolorList
            }],
        },
        options: {
            indexAxis: 'y',
            scales: {
                y: {
                },
            },
        }
    });
</script>

<script>
    const ctx = document.getElementById('bar-chart').getContext('2d');
    var listData = "{{ data|safe }}"
    var listLabels = "{{ labels|safe }}"
    var colorList = "{{ colorList|safe }}"

    listData = listData.slice(1);
    listData = listData.slice(0, listData.length - 1);
    listLabels = listLabels.slice(1);
    listLabels = listLabels.slice(0, listLabels.length - 1);
    colorList = colorList.slice(1);
    colorList = colorList.slice(0, colorList.length - 1);

    var newlistData = listData.split(',')
    var newlistLabels = listLabels.split(',')
    var newcolorList = colorList.split(', ')

    count = 0
    for (color in newcolorList) {

        newcolorList[count] = newcolorList[count].slice(1)
        newcolorList[count] = newcolorList[count].slice(0, newcolorList[count].length - 1)
        count = count + 1
    }

    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: newlistLabels,
            datasets: [{
                barThickness: 30,
                label: 'Horas trabajadas por proyecto',
                data: newlistData,
                backgroundColor: newcolorList
            }],
        },
        options: {
            indexAxis: 'y',
            scales: {
                y: {
                },
            },
        }
    });
</script>

{% else %}
    Aviso: Usted no tiene autorización para ver este contenido.
{% endif %}

{% endblock %}