{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} Nueva tarea {% endblock %}

{% block main %}

<!-- Formulario de registro de áreas -->

<div class="card">
  <div class="card-header fw-semibold">
    <div class="d-flex justify-content-between">
      <div>
        {% if crear %} Registro de nueva tarea {% else %} Edición de "{{ tarea.nombre }}" {% endif %}
      </div>
      <div>
        <span class="badge text-bg-dark"><i class="cil-task"></i></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Las tareas son pasos necesarios para lograr un objetivo de un proyecto.</p>
    <form method="POST" onsubmit="setFormSubmitting()">
      {% csrf_token %}
      <p>
      <!-- Mensajes -->
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" role="alert">
      {% else %}
      <div class="alert alert-{{ message.tags }}" role="alert">
      {% endif %}
      {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <!-- Formulario -->
      {{ tarea_form | crispy }}
      </p>
      <button type="submit" class="btn btn-primary btn-block" onClick="return confirmarRegistro();">Registrar</button>
    </form>
    <br>
    <p><small>
      <strong>Notas</strong>
      <ul>
        <li>La descripción debe ser clara para que otras personas puedan participar también.</li>
        <li>Es posible asignar esta tarea a una o más personas. Si usted asigna una tarea a alguien más, por favor discuta con esa persona los detalles.</li>
        <li>Es posible crear "subtareas" vinculadas a otra tarea superior.</li>
       </ul>
    </small></p>
  </div>
</div>

<br>

<!-- Advertencia de abandonar sin guardar cambios -->
<script src="{% static 'custom_js/advertencia_abandono.js' %}"></script>

<!-- Confirmación de creación de registro -->
<script src="{% static 'custom_js/confirmar_registro.js' %}"></script>

{% endblock %}