{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
<script>
  var formSubmitting = false;
  var setFormSubmitting = function() { formSubmitting = true; };
  
  window.onload = function() {
      window.addEventListener("beforeunload", function (e) {
          if (formSubmitting) {
              return undefined;
          }
  
          var confirmationMessage = 'It looks like you have been editing something. '
                                  + 'If you leave before saving, your changes will be lost.';
          
          (e || window.event).returnValue = confirmationMessage; //Gecko + IE
          return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
      });
  };
  </script>
<div class="container">
</br>
{% if tipoAccion %}
  <h1>Crear Tarea</h1>
{% else %}
  <h1>Editar Tarea</h1>
{% endif %}

<form method="post" onsubmit="setFormSubmitting()">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    {{tarea_form|crispy }}
   

    <button type="submit" class="btn btn-primary btn-block">Continuar</button>
</form>
</div>



{% endblock %}
