{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} Tareas {% endblock %}

{% block main %}

{% include "alerta.html" %} 

<!-- Título -->
<div class="d-flex justify-content-between">
  <div>
    <h1 class="display-4">Tareas</h1>
  </div>
  <div>
    <h1><span class="badge text-bg-dark"><i class="cil-task"></i></span></h1>
  </div>
</div>

<!-- Descripción -->
<p class="lead">
  Las tareas están asociadas a un objetivo de un proyecto.
</p>

<!-- Botón para agregar tareas -->
<p>
  <a href="crear_tarea" type="button" class="btn btn-outline-info">Nueva tarea</a>
</p>

<!-- Lista de mis tareas -->

{% if not request.user.is_staff %}

<br>

<h6 id="mis-tareas" class="text-uppercase font-weight-bolder opacity-6">Lista de mis tareas asignadas</h6>

<p>
<div class="card">
  <div class="card-body">
    <!-- Tabla -->
    <div class="table-responsive">
      <table id="datatable" class="table align-items-center table-hover">
        <thead class="thead">
          <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Objetivo</th>
            <th scope="col">Proyecto</th>
            <th scope="col">Estudiante(s)</th>
          </tr>
        </thead>
        <tbody>
          {% for tarea in mis_tareas %}
          <tr>
            <!-- Opciones de edición -->
            <td>
              <!-- Editar -->
              <a href="editar_tarea/{{ tarea.id }}" class="text-warning" role="button" style="text-decoration: none;">
                <i class="icon cil-pencil"></i>
              </a>
              <!-- Eliminar -->
              <form method="POST">
                {% csrf_token %}

              <button onclick="return confirm('¿Desea enviar este registro a la papelera?')" type="submit"
              class="btn btn-link shadow-none p-0 text-danger" value="{{ tarea.id }}" name="deleteButton">
              <i class="icon cil-trash"></i>
            </button>
            </form>
            </td>              
            <!-- Nombre -->
            <td>{{ tarea.nombre }}</td>
            <!-- Descripción -->
            <td>{{ tarea.descripcion}}</td>
            <!-- Objetivo -->
            <td>
              {% if not tarea.objetivo.enPapelera %}
              {{ tarea.objetivo }}
              {% else %}
              (Objetivo en papelera)
              {% endif %}
            </td>
            <!-- Proyecto -->
            <td>
              {% if not tarea.objetivo.proyecto.enPapelera %}
              {{tarea.objetivo.proyecto}}
              {% else %}
              (Proyecto en papelera)
              {% endif %}
            </td>
            <!-- Estudiantes asignados (múltiples) -->
            <td>
              {% for estudiante in tarea.estudiante.all %}
              {{ estudiante.user.first_name}} {{ estudiante.user.last_name}}<br />
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</p>

<div class="alert alert-info" role="alert">
  La lista de todas las tareas disponibles está en la página de cada proyecto. Recuerde que usted también puede crear tareas para un objetivo.
</div>

{% endif %}

<br>

{% if request.user.is_staff %}

<!-- Lista de todas las tareas -->

<h6 id="todas-las-tareas" class="text-uppercase font-weight-bolder opacity-6">Lista de todas las tareas</h6>

<form method="post">

  {% csrf_token %}

  {% if tareas %}

  <p>
  <div class="card">
    <div class="card-body">
      <!-- Opciones de selección -->
      <!-- Mostrar filtros -->
      <a class="btn btn-dark btn-sm" data-coreui-toggle="collapse" href="#verFiltros" role="button"
        aria-expanded="false" aria-controls="verFiltros">
        <i class="icon cil-filter"></i> 
      </a>
      <!-- Opciones de filtrado -->
      <div class="collapse" id="verFiltros">
        <p>
        <div class="card card-body">
          <form id="filtro" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="row">
              {% for field in filtros_form %}
              <div class="col-sm-4">
                <b>{{ field.label_tag }}</b> {{ field }}
                </br>
              </div>
              </br>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-light">Filtrar</button>
          </form>
        </div>
        </p>
      </div>
      <!-- Tabla -->
      <div class="table-responsive">
        <table id="datatable" class="table align-items-center table-hover">
          <thead class="thead">
            <tr>
              <th scope="col"></th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Objetivo</th>
              <th scope="col">Proyecto</th>
              <th scope="col">Estudiante(s)</th>
            </tr>
          </thead>
          <tbody>
            {% for tarea in tareas %}
            <tr>
              <!-- Opciones de edición -->
              <td>
                <!-- Editar -->
                <a href="editar_tarea/{{ tarea.id }}" class="text-warning" role="button" style="text-decoration: none;">
                  <i class="icon cil-pencil"></i>
                </a>
                <!-- Eliminar -->
                <button onclick="return confirm('¿Desea enviar este registro a la papelera?')" type="submit"
                  class="btn btn-link shadow-none p-0 text-danger" value="{{ tarea.id }}" name="deleteButton">
                  <i class="icon cil-trash"></i>
              </button>
              </td>              
              <!-- Nombre -->
              <td>{{ tarea.nombre }}</td>
              <!-- Descripción -->
              <td>{{ tarea.descripcion}}</td>
              <!-- Objetivo -->
              <td>
                {% if not tarea.objetivo.enPapelera %}
                {{ tarea.objetivo }}
                {% else %}
                (Objetivo en papelera)
                {% endif %}
              </td>
              <!-- Proyecto -->
              <td>
                {% if not tarea.objetivo.proyecto.enPapelera %}
                {{tarea.objetivo.proyecto}}
                {% else %}
                (Proyecto en papelera)
                {% endif %}
              </td>
              <!-- Estudiantes asignados (múltiples) -->
              <td>
                {% for estudiante in tarea.estudiante.all %}
                {{ estudiante.user.first_name}} {{ estudiante.user.last_name}}<br />
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </p>

  {% else %}
  <div class="alert alert-info" role="alert">
    No hay actividades registradas.
  </div>
  {% endif %}

</form>

{% endif %}

<br>

{% endblock %}