{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
<div class="container">
</br>
  <h1>Tareas</h1>
  <a href="tareas\crear_tarea" class="btn btn-info" role="button">Agregar Tarea</a>
</br>
</br>
<form method="post">{% csrf_token %}
  {% if tareas %}
  <div class="table-responsive">
    <table id="datatable" class="table table-striped table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Proyecto</th>
        <th scope="col">Carné</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for tarea in tareas %}
      <tr>
        <td>{{ tarea.nombre }}</td>
        <td>{{ tarea.descripcion}}</td>
        <td>{{ tarea.proyecto}}</td>
        <td>{{ tarea.estudiante.user.username}}</td>
        <td>{{ tarea.estudiante.user.first_name}}</td>
        <td>{{ tarea.estudiante.user.last_name}}</td>

        <td style="text-align: center">
          <div >
            <a id="actionButtons"  href="tareas/editar_tarea/{{ tarea.id }}"class="btn btn-info" role="button">
              <img  id="imageButtons" src="static/svg/file-edit-line.svg" />
            </a>
            <button onclick="return confirm('Está seguro de borrar?')" id="actionButtons" type="submit" style="background-color:crimson;" class="btn btn-info"  value="{{ tarea.id }}"  name="deleteButton">              
              <img id="imageButtons" src="static/svg/delete-bin-line.svg" />
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
  </tbody>
    </table>
  </div>
    {% else %}
  <strong>No hay tareas registradas</strong>
{% endif %}
</form>
</div>
{% endblock %}



