{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}  {% load static %}
<div class="container">
</br>
  <h1>Categorias</h1>
  <a href="categorias\crear_categoria" class="btn btn-info" role="button">Agregar Categoria</a>
  
</br>
</br>
<form method="post">{% csrf_token %}

  {% if categorias %}
  <div class="table-responsive">
    <table id="datatable" class="table table-striped table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      {% for categoria in categorias %}
      <tr>
        <td>{{ categoria }}</td>
        <td style="text-align: center">
          <div >
            <a id="actionButtons"  href="categorias/editar_categoria/{{ categoria.id }}"class="btn btn-info" role="button">
              <img  id="imageButtons" src="{% static '/svg/file-edit-line.svg' %}" />
            </a>
            <button onclick="return confirm('Está seguro de borrar?')" id="actionButtons" type="submit" style="background-color:crimson;" class="btn btn-info"  value="{{ categoria.id }}"  name="deleteButton">             
              <img id="imageButtons" src="{% static '/svg/delete-bin-line.svg' %}"/>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
  </tbody>
    </table>
  </div>
    {% else %}
  <strong>No hay categorias registrados</strong>
{% endif %}
</form>
</div>
{% endblock %}



