{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}  {% load static %}
<div class="container">
</br>
  <!-- Título -->
  <h1 class="display-4">Categorias</h1>
  <p>
    Pueden haber multiples categorias por proyecto.
  </p>
  <a href="crear_categoria" type="button" class="btn bg-gradient-primary"><i class="fas fa-plus-circle"></i>Agregar Categoria</a>
</br>
</br>

<!-- Lista de categorias -->
<form method="post">{% csrf_token %}

  {% if categorias %}
  <h6 class="text-uppercase font-weight-bolder opacity-6">Lista de categorias</h6>
  
   <!-- Tabla -->
  <div class="table-responsive">
    <table id="datatable" class="table align-items-center table-hover">
    <thead class="thead">
      <tr>
        <th scope="col"></th>
        <th scope="col">Nombre</th>

      </tr>
    </thead>
    <tbody>
      {% for categoria in categorias %}
        {% if not categoria.enPapelera %}
          <tr>
            <td>
              <!-- Checkbox -->
              <input type="checkbox" name="inputs" value="{{categoria.id}}" /> <br>
    
                <!-- Edit button -->
                <button   href="editar_categoria/{{ categoria.id }}" class="text-info" role="button">
                  <i class="fas fa-edit"></i>
                </a>
    
                <!-- Delete button -->
                <button onclick="return confirm('Está seguro de borrar?')"  type="submit" 
                class="text-danger" value="{{ categoria.id }}"  name="deleteButton"
                style="background-color: transparent;  border: 0;">              
                <i class="fas fa-trash-alt"></i>
                </button>
              
            </td>
            <td>{{ categoria }}</td>
            
          </tr>
        {% endif %}
      {% endfor %}
  </tbody>
    </table>
  </div>
    {% else %}
  <strong>No hay categorias registrados</strong>
{% endif %}
</form>
</div>
{% endblock %}



