{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} Actividades {% endblock %}

{% block main %}

<!-- Título y descripción -->
<!-- Título -->
<div class="d-flex justify-content-between">
  <div>
    <h1 class="display-4">Actividades</h1>
  </div>
  <div>
    <h1><span class="badge text-bg-dark"><i class="cil-clock"></i></span>
    
    </h1>
  </div>
</div>

<!-- Descripción -->
<p class="lead">
  Las horas de trabajo comunal están registradas como actividades asociadas a tareas dentro de los proyectos.
</p>

<!-- Botón para agregar actividades -->
{% if not request.user.is_staff %}
<p>
  <a href="crear_actividad" type="button" class="btn btn-outline-info">Nueva actividad</a>
</p>
{% endif %}

<!-- Lista de actividades--> 
<h6 class="text-uppercase font-weight-bolder opacity-6">Lista de actividades</h6>

<form method="post">

  {% csrf_token %}

  {% if actividades %}

  <p>
  <div class="card">
    <!-- Otra opción de encabezado: 
    <div class="card-header">
      <span class="text-uppercase font-weight-bolder opacity-6">Lista de actividades</span>
    </div>-->
    <div class="card-body">

      {% if request.user.is_staff %}
      <!-- Opciones de aprobación -->
      <input type="submit" class="btn btn-outline-success btn-sm" value="Aprobar" name="aprobar">
      <input type="submit" class="btn btn-outline-danger btn-sm" value="Rechazar" name="rechazar">  
      <!-- Botón de filtros -->
      <a class="btn btn-outline-dark btn-sm" data-coreui-toggle="collapse" href="#verFiltros" role="button"
        aria-expanded="false" aria-controls="verFiltros">
        Mostrar filtros
      </a>
      <!-- Botón de selección -->
      <button type="button" class="btn btn-outline-dark btn-sm" onclick="toggleCheck()">
        Seleccionar todo
      </button>
      <!-- Opciones de filtrado -->
      <div class="collapse" id="verFiltros">
        <p>
        <div class="card card-body">
          <form id="filtro" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="row">
              {% for field in filtros_form %}
              <div class="col-sm-4">
                <b>{{ field.label_tag }}</b> {{ field }}
                </br>
              </div>
              </br>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-light">Filtrar</button>
          </form>
        </div>
        </p>
      </div>
      {% endif %}

      <!-- Tabla de actividades -->
      <p class="small opacity-6"><i class="cil-hand-point-up"></i> <em>Click en cada registro para ver más información</em></p>
      <div class="table table-responsive">
        <table id="datatable" class="table align-items-center table-hover">
          <thead class="thead">
            <tr>
              <th scope="col"></th>
              <th scope="col">Descripción</th>
              <th scope="col">Horas</th>
              <th scope="col">Fecha</th>
              <th scope="col">Proyecto</th>
              <th scope="col">Tarea</th>
              {% if request.user.is_staff %}
              <th scope="col">Carné</th>
              <th scope="col">Nombre</th>
              {% endif %}
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for actividad in actividades %}
            {% if not actividad.enPapelera %}
            <tr>
              <!-- Opciones de edición -->
              <td>
                <!-- Seleccionar -->
                {% if request.user.is_staff %}
                <input class="form-check-input" type="checkbox" name="inputs" value="{{ solicitud.id }}" />
                {% endif %}
                <!-- Editar -->
                {% if request.user.is_staff %}
                <a href="editar_actividad/{{ actividad.id }}" class="text-warning" role="button" style="text-decoration: none;">
                  <i class="icon cil-pencil"></i>
                </a>
                {% endif %}
                <!-- Eliminar -->
                <a onclick="return confirm('¿Desea enviar este registro a la papelera?')" type="submit"
                  class="text-danger" value="{{ actividad.id }}" name="deleteButton">
                  <i class="icon cil-trash"></i>
                </a>
              </td>
              <td><span class="label Descripcion">{{ actividad.descripcion }}</span></td>
              <td class="fila_tabla"><span class="label Horas">{{ actividad.horas }}</span></td>
              <td class="fila_tabla"><span class="label Fecha">{{ actividad.fecha }}</span></td>
              {% if not actividad.tarea.objetivo.proyecto.enPapelera %}
              <td class="fila_tabla"><span class="label Proyecto">{{actividad.tarea.objetivo.proyecto.nombre}}</span></td>
              {% else %}
              <td></td>
              {% endif %}
              {% if not actividad.tarea.enPapelera %}
              <td class="fila_tabla"><span class="label Tarea">{{ actividad.tarea.nombre }}</span></td>
              {% else %}
              <td></td>
              {% endif %}

              {% if request.user.is_staff %}
              <td class="fila_tabla"><span class="label Carne">{{ actividad.estudiante.user.username }}</span></td>
              <td class="fila_tabla"><span class="label Nombre">{{ actividad.estudiante.user.first_name }} {{ actividad.estudiante.user.last_name }}</span></td>
              {% endif %}

              <td class="fila_tabla"><span class="label Estado">{{ actividad.get_estado_display }}</span></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </p>

  {% else %}
  <div class="alert alert-info" role="alert">
    No hay actividades registradas.
  </div>
  {% endif %}

</form>

<br>

<!--Modal-->
<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información adicional</h5>
        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Descripción</dt>
          <dd id="d_descripcion"></dd>
          <dt>Horas</dt>
          <dd id="d_horas"></dd>
          <dt>Fecha</dt>
          <dd id="d_fecha"></dd>
          <dt>Proyecto</dt>
          <dd id="d_proyecto"></dd>
          <dt>Tarea</dt>
          <dd id="d_tarea"></dd>
          {% if request.user.is_staff %}
          <dt>Carné</dt>
          <dd id="d_carne"></dd>
          <dt>Nombre</dt>
          <dd id="d_nombre"></dd>
          {% endif %}
          <dt>Estado</dt>
          <dd id="d_estado"></dd>
        </dl>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!--JQuery para el modal-->
<script>
  $(".fila_tabla").click(function(){
    $('#myModal').modal('show')
    var row = $(this).closest("tr");
    
    var descripcion = row.find(".label.Descripcion").html()
    var horas = row.find(".label.Horas").html()
    var fecha = row.find(".label.Fecha").html()
    var proyecto = row.find(".label.Proyecto").html()
    var tarea = row.find(".label.Tarea").html()
    var carne = row.find(".label.Carne").html()
    var nombre = row.find(".label.Nombre").html()
    var estado = row.find(".label.Estado").html()

    $('#d_descripcion').text(descripcion)
    $('#d_horas').text(horas)
    $('#d_fecha').text(fecha)
    $('#d_proyecto').text(proyecto)
    $('#d_tarea').text(tarea)
    $('#d_carne').text(carne)
    $('#d_nombre').text(nombre)
    $('#d_estado').text(estado)
  });


  $('td:nth-child(2),th:nth-child(2)').hide();
  $('td:nth-child(6),th:nth-child(6)').hide();
  $('td:nth-child(7),th:nth-child(7)').hide();
</script>

{% endblock %}