{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} Actividades {% endblock %}

{% block main %}

<!-- Título y descripción -->
<h1 class="display-4">Actividades</h1>
<p class="lead">
  Las horas de trabajo comunal están registradas como actividades asociadas a tareas dentro de los proyectos.
</p>

<!-- Botón para agregar actividades -->
<p>
  <a href="crear_actividad" type="button" class="btn btn-outline-info">Nueva actividad</a>
</p>

<!-- Lista de actividades -->
<h6 class="text-uppercase font-weight-bolder opacity-6">Lista de actividades</h6>

<form method="post">

  {% csrf_token %}

  <div class="card">
    <div class="card-body">

      <!-- Opciones de aprobación -->
      {% if request.user.is_staff %}
      <input type="submit" class="btn btn-outline-success btn-sm" value="Aprobar" name="aprobar">
      <input type="submit" class="btn btn-outline-danger btn-sm" value="Rechazar" name="rechazar">
      {% endif %}

      <!-- Opciones de selección -->
      <a class="btn btn-outline-dark btn-sm" data-coreui-toggle="collapse" href="#verFiltros" role="button"
        aria-expanded="false" aria-controls="verFiltros">
        Mostrar filtros
      </a>
      {% if actividades %}
      <button type="button" class="btn btn-outline-dark btn-sm" onclick="toggleCheck()">
        Seleccionar todo
      </button>
      <button type="button" class="btn btn-outline-dark btn-sm" onclick="uncheckAll()">
        Limpiar selección
      </button>
      {% endif %}

      <!-- Opciones de filtrado -->
      <div class="collapse" id="verFiltros">
        <p>
        <div class="card card-body">
          <form id="filtro" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="row">
              {% for field in filtros_form %}
              <div class="col-sm-4">
                <b>{{ field.label_tag }}</b> {{ field }}
                </br>
              </div>
              </br>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-light">Filtrar</button>
          </form>
        </div>
        </p>
      </div>

      {% if actividades %}

      <!-- Tabla de actividades -->
      <div class="table table-responsive">
        <table id="datatable" class="table align-items-center table-hover">
          <thead class="thead">
            <tr>
              <th scope="col"></th>
              <th scope="col">Descripción</th>
              <th scope="col">Horas</th>
              <th scope="col">Fecha</th>
              <th scope="col">Proyecto</th>
              <th scope="col">Tarea</th>
              {% if request.user.is_staff %}
              <th scope="col">Carné</th>
              <th scope="col">Nombre</th>
              {% endif %}
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for actividad in actividades %}
            {% if not actividad.enPapelera %}
            <tr>
              <td>
                <!-- Seleccionar -->
                <input class="form-check-input" type="checkbox" name="inputs" value="{{ actividad.id }}" />

                <!-- Editar -->
                <a href="editar_actividad/{{ actividad.id }}" class="text-warning" role="button">
                  <svg class="nav-icon" width="16" height="16">
                    <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-pencil"></use>
                  </svg>
                </a>

                <!-- Eliminar -->
                <button onclick="return confirm('¿Está seguro de enviarlo a la papelera?')" type="submit"
                  class="text-danger" value="{{ actividad.id }}" name="deleteButton" 
                  style="background-color: transparent;  border: 0; padding: 0;">
                  <svg class="nav-icon" width="16" height="16">
                    <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-trash"></use>
                  </svg>
                </button>
              </td>
              <td><span class="label Descripcion">{{ actividad.descripcion }}</span></td>
              <td class="fila_tabla">{{ actividad.horas }}</td>
              <td class="fila_tabla"><span class="text-lowercase">{{ actividad.fecha }}</span></td>
              {% if not actividad.tarea.objetivo.proyecto.enPapelera %}
              <td class="fila_tabla">{{actividad.tarea.objetivo.proyecto.nombre}}</td>
              {% else %}
              <td></td>
              {% endif %}
              {% if not actividad.tarea.enPapelera %}
              <td class="fila_tabla">{{ actividad.tarea.nombre }}</td>
              {% else %}
              <td></td>
              {% endif %}

              {% if request.user.is_staff %}
              <td><span class="label Carne">{{ actividad.estudiante.user.username }}</span></td>
              <td class="fila_tabla">{{ actividad.estudiante.user.first_name }} {{ actividad.estudiante.user.last_name }}</td>
              {% endif %}

              <td class="fila_tabla">{{ actividad.get_estado_display }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% else %}
  <p>
    <strong>No hay actividades registradas.</strong>
  </p>
  {% endif %}

</form>

<!--Modal-->
<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información adicional</h5>
        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="p_correo"></p>
        <p id="p_carrera"></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!--JQuery para el modal-->
<script>
  $(".fila_tabla").click(function(){
    $('#myModal').modal('show')
    var row = $(this).closest("tr");
    var descripcion = row.find(".label.Descripcion").html()
    var carne = row.find(".label.Carne").html()
    $('#p_correo').text("Descripcion: " + descripcion)
    $('#p_carrera').text("Carne del estudiante: " + carne)
  });


  $('td:nth-child(2),th:nth-child(2)').hide();
  $('td:nth-child(7),th:nth-child(7)').hide();
</script>
{% endblock %}