{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}  {% load static %}

<div class="container"  align-items="stretch">
</br>
  
  {% if request.user.is_staff %}
  <h1>Actividades</h1>
  {% else %}
  <h1>Registro de Actividades</h1>
  {% endif %}
  
  {% if request.user.is_staff %}
  {% else %}
  <a href="\crear_actividad" class="btn btn-info" role="button">Agregar Actividad</a> 
  {% endif %}
  <button type="button" class="btn btn-info" onclick="esconderFiltros()">Ver Filtros</button>
  {% if actividades %}
  <button type="button" class="btn btn-info" onclick="toggleCheck()">Seleccionar Todas</button>
  <button type="button" class="btn btn-info" onclick="uncheckAll()">Limpiar</button>

  {% endif %}
</br>
</br>
<div id="filtrosdiv" style = 'display: none;'>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />

 
  <div class="row">
  {% for field in filtros_form  %}
    <div class="col-sm-4">
      <b>{{ field.label_tag }}</b> - {{ field}} 
    </br>

    </div>
</br>
  {% endfor %}

 
  </div>  
  <button type="submit" style = 'width: 200px; height:40px;' class="btn btn-primary btn-block">Filtrar</button>
 

  
</form>
</br>
</div>

{% if actividades %}

<form method="post">{% csrf_token %}
    {% if request.user.is_staff %}
    <input type="submit" class="btn btn-success" value="Aprobar" name="aprobar">
    <input type="submit" class="btn btn-danger " value="Rechazar" name="rechazar">
    {% endif %}
</br>
</br>
<div class="table-responsive">
  <table class="table table-striped table-bordered" style="width:100%">
      <thead class="thead" >
        <tr>
          <th scope="col"></th>
          <th scope="col">Descripcion</th>
          <th scope="col">Horas</th>
          <th scope="col">Fecha</th>
          <th scope="col">Proyecto</th>
          <th scope="col">Tarea</th>
          {% if request.user.is_staff %}
          <th scope="col">Carné</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>

          {% endif %}
          <th scope="col">Estado</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        {% for actividad in actividades %}
          {% if not actividad.enPapelera %}
        <tr>
          <td> <input type="checkbox" name="inputs"  value="{{actividad.id}}"/> </td>
          <td>  {{ actividad.descripcion }}</td>
          <td>{{ actividad.horas }}</td>
          <td>{{ actividad.fecha }}</td>
          {% if not actividad.proyecto.enPapelera %}
            <td>{{ actividad.proyecto.nombre}}</td>
          {% else %}  
          <td></td>
          {% endif %}
          {% if not actividad.tarea.enPapelera %}
            <td>{{ actividad.tarea.nombre}}</td>
          {% else %}  
          <td></td>
          {% endif %}
          
          

          {% if request.user.is_staff %}
          <td>{{ actividad.estudiante.user.username}}</td>
          <td>{{ actividad.estudiante.user.first_name}}</td>
          <td>{{ actividad.estudiante.user.last_name}}</td>

          {% endif %}
          <td>{{ actividad.get_estado_display}}</td>
          
          <td style="text-align: center">
            <div >
              <a   href="/editar_actividad/{{ actividad.id }}"class="btn btn-info" role="button">
                <img  class="imageButtons" src="{% static '/svg/file-edit-line.svg' %}" />
              </a>
              <button onclick="return confirm('Está seguro de borrar?')"  type="submit" style="background-color:crimson;" class="btn btn-info"  value="{{ actividad.id }}"  name="deleteButton">
                <!--<a  style="background-color:crimson;"  class="btn btn-info"  onclick="borrarRegistro('{{ actividad.id }}')"   role="button">
                -->               
                <img class="imageButtons" src="{% static '/svg/delete-bin-line.svg' %}" />
              </button>
            </div>
          </td>
          

        </tr>
          {% endif %}
        {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
  <strong>No hay actividades registradas</strong>
{% endif %}



  
</form>
</div>


{% endblock %}
