{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} Nueva actividad {% endblock %}

{% block main %}

<!-- Formulario de registro de áreas -->

<div class="card">
  <div class="card-header fw-semibold">
    <div class="d-flex justify-content-between">
      <div>
        {% if crear %} Registro de nueva actividad {% else %} Edición de actividad del {{ actividad.fecha | lower }} {% endif %}
      </div>
      <div>
        <span class="badge text-bg-dark"><i class="cil-clock"></i></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>
      Las horas de TCU son registradas como actividades.
    </p>
    <form method="POST" id="crear_actividad_form" proyectos-url="{% url 'load-proyectosActividades' %}" objetivos-url="{% url 'load-objetivosActividades' %}" tareas-url="{% url 'load-tareasActividades' %}" onsubmit="setFormSubmitting()">
      {% csrf_token %}
      <p>
      <!-- Mensajes -->
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" role="alert">
      {% else %}
      <div class="alert alert-{{ message.tags }}" role="alert">
      {% endif %}
      {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <!-- Formulario -->
      {{ form | crispy }}
      </p>
      <button id="confirm" type="submit" class="btn btn-primary btn-block">Registrar</button>
    </form>
    <br>
    <p><small>
      <strong>Notas</strong>
      <ul>
        <li>Cada actividad está  vinculada con una tarea específica y cada tarea está vinculada con un objetivo de un proyecto.</li>
        <li>Si la tarea vinculada con esta actividad no existe, usted puede crearla en la sección de <a href="{% url 'tareas' %}">tareas</a>. Si lo hace, asegúrese de que no es una tarea repetida, y de que es pertinente para el objetivo. También puede discutirlo antes con el docente tutor.</li>
        <li>La descripción es importante para la aprobación de la actividad, y debe ser concordante con la cantidad de horas registradas.</li>
        <li>La fecha es la fecha de realización de la actividad.</li>
      </ul>
    </small></p>
  </div>
</div>

</br>

<!--Usando código modificado de https://github.com/akjasim/cb_dj_dependent_dropdown
Para permitir que el dropdown sea limitado por la eleccion de proyecto
-->

<!--
<script>
  $("#id_proyecto").change(function () {
    console.log("activado accion proyecto");
    const url = $("#actividadesForm").attr("data-objetivos-url");  // get the url of the `load_cities` view
    const proyectoId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
      data: {
        'proyecto_id': proyectoId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_objetivo").html(data);  // replace the contents of the city input with the data that came from the server
        /*

        let html_data = '<option value="">---------</option>';
        data.forEach(function (objetivo) {
            html_data += `<option value="${objetivo.id}">${objetivo.nombre}</option>`
        });
        console.log(html_data);
        $("#id_objetivo").html(html_data);
*/

      }
    });
  });

</script>

<script>
  $("#id_objetivo").change(function () {
    console.log("activado accion objetivo");
    const url = $("#actividadesForm").attr("data-tareas-url");  // get the url of the `load_cities` view
    const objetivoId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
      data: {
        'objetivo_id': objetivoId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_tarea").html(data);  // replace the contents of the city input with the data that came from the server
        /*

        let html_data = '<option value="">---------</option>';
        data.forEach(function (objetivo) {
            html_data += `<option value="${objetivo.id}">${objetivo.nombre}</option>`
        });
        console.log(html_data);
        $("#id_objetivo").html(html_data);
*/
      }
    });
  });
</script>
-->


<!--

<script>
  //Para editar_proyecto, se guarda el valor inicial del id para setearlo.
  const initial_project_id = $("#id_proyecto").val();
  $("#id_area").change(clear_options);
  $("#id_area").change(update_projects);
  
 
  function clear_options(){
    $('#id_proyecto').empty();
    $('#id_objetivo').empty();
    $('#id_tarea').empty();
  }
  function update_projects() {

    var url = $("#crear_actividad_form").attr("proyectos-url");
    var areaId = $("#id_area").val();
    $.ajax({
      url: url,
      data: {
        'area':areaId
      },
      success: function (data){
        $("#id_proyecto").html(data);
        //Cuando editamos una actividad, un proyecto ya fue elegido anteriormente.
        //Este if es para  setear nuevamente el valor original elegido en editar_actividad.
        if(initial_project_id != null){
          $("#id_proyecto").val(initial_project_id)
          //Vacía valor para que no ingrese más de dos veces.
          initial_project_id = null
        }
      }
    })
    }
   //Ejecuta este método para cargar lista de proyectos basados
   //en área seteada anteriormente cuando carga la página. 
   //Usada para editar_actividad
   update_projects()
</script>


<script>
  $("#id_proyecto").click(update_objectives);
  const initial_obj_id =  $("#id_objetivo").val()

  function update_objectives() {
    var url = $("#crear_actividad_form").attr("objetivos-url");
    var proyectoId = $("#id_proyecto").val();
    $.ajax({
      url: url,
      data: {
        'proyecto':proyectoId
      },
      success: function (data){
        $("#id_objetivo").html(data);
        if(initial_obj_id != null){
          $("#id_objetivo").val(initial_obj_id)
          initial_obj_id = null
        }
      }
    });
    
  }
  update_objectives()
</script>


<script>
  $("#id_objetivo").click(update_tareas);
  const initial_tarea_id =  $("#id_tarea").val()
  function update_tareas() {
    var url = $("#crear_actividad_form").attr("tareas-url");
    var objetivoId = $("#id_objetivo").val();
    $.ajax({
      url: url,
      data: {
        'objetivo':objetivoId
      },
      success: function (data){
        $("#id_tarea").html(data);
        if(initial_tarea_id != null){
          $("#id_tarea").val(initial_tarea_id)
          initial_tarea_id = null
        }
      }
    });
  }
  update_tareas()
</script>


<script>
  var formSubmitting = false;
  var setFormSubmitting = function () { formSubmitting = true; };

  window.onload = function () {
    window.addEventListener("beforeunload", function (e) {
      if (formSubmitting) {
        return undefined;
      }

      var confirmationMessage = 'It looks like you have been editing something. '
        + 'If you leave before saving, your changes will be lost.';

      (e || window.event).returnValue = confirmationMessage; //Gecko + IE
      return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
    });
  };
</script>


<script type="text/javascript">
  function confirmarRegistro() {
    var creacion = confirm('¿Está seguro/a de que desea crear el registro?');
    if (creacion) {
      const collection = document.getElementsByClassName("alert alert-success");

      collection[0].setAttribute("style", "display:block");
    }

    return creacion
  }
</script>
-->
<script src="{% static 'custom_js/confirmar_registro.js' %}"></script>
<script src="{% static 'custom_js/crear_actividad.js' %}"></script>
{% endblock %}