.container {
  margin-top: 50px;
  box-shadow: 0 0 20px black;
  padding:0 15px 50px 15px;
}


h1 {
  padding-left: 0.3%;
  padding-bottom: 1%;
}


.table thead th{
   background-color:  #1495EA;
   
}

.actionButtons{
  height: 40px;
  width: 40px;
  flex-direction: column;
  margin-top: 3px;
  align-items: center;
}

.imageButtons{
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 24px;
  width: 18px;
  
}


.bootstrapFitButtons{
  background-color: transparent;  
  border: 0;
}