{% extends 'base.html' %} 

{% load static %}

{% load crispy_forms_tags %} 

{% block page_title %} Áreas {% endblock %}

{% block main %}

{% include "alerta.html"%}

<!-- Título -->
<div class="d-flex justify-content-between">
  <div>
    <h1 class="display-4">Áreas</h1>
  </div>
  <div>
    <h1><span class="badge text-bg-dark"><i class="cil-folder-open"></i></span></h1>
  </div>
</div>

<!-- Descripción -->
<p class="lead">
  Las áreas describen temáticas generales de trabajo dentro del TCU.
</p>

<!--Boton para agregar areas-->
{% if request.user.is_staff %}
<p>
  <a href="crear_area" type="button" class="btn btn-outline-info">Nueva área</a>
</p>
{% endif %}

<br>

<!-- Lista de áreas -->
<h6 class="text-uppercase font-weight-bolder opacity-6">Lista de áreas</h6>

<form method="post">
  
  {% csrf_token %}
      
  {% if areas %}

  <p>
  <div class="card">
    <div class="card-body">
      <div class="table">
        <table id="areas-table" class="table align-items-center table-hover">
          <thead>
            <tr>
              {% if request.user.is_staff %}<th scope="col"></th>{% else %}{% endif %}
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody>
            {% for area in areas %}
            {% if not area.enPapelera %}
            <tr>
              <!-- Opciones de edición -->
              {% if request.user.is_staff %}
              <td>
                <!-- Editar -->
                <a href="editar_area/{{ area.id }}" class="text-warning" role="button" style="text-decoration: none;">
                  <i class="icon cil-pencil"></i>
                </a>
                <!-- Eliminar -->
                <button onclick="return confirm('¿Desea enviar este registro a la papelera?')" type="submit"
                  class="btn btn-link shadow-none p-0 text-danger" value="{{ area.id }}" name="deleteButton">
                  <i class="icon cil-trash"></i>
              </button>
              </td>
              {% endif %}
              <!-- Nombre -->
              <td>{{ area }}</td>
              <!-- Descripción -->
              <td>{{ area.descripcion }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </p>

  {% else %}
  <div class="alert alert-info" role="alert">
    No hay áreas registradas.
  </div>
  {% endif %}

</form>

{% endblock %}
