{% extends 'base.html' %} 

{% load static %}

{% load crispy_forms_tags %} 

{% block page_title %} Áreas {% endblock %}

{% block main %}

<!-- Título -->
<h1 class="display-4">Áreas</h1>
<p class="lead">
  Las áreas describen temáticas generales de trabajo dentro del TCU, y puede haber uno o más proyectos asociados con
  cada área.
</p>

<!--Boton para agregar areas-->
{% if request.user.is_staff %}
<p>
  <a href="crear_area" type="button" class="btn btn-outline-info">Agregar nueva área</a>
</p>
{% endif %}

<!-- Lista de áreas -->
<h6 class="text-uppercase font-weight-bolder opacity-6">Lista de áreas</h6>

<form method="post">
  
  {% csrf_token %}

  <div class="card">
    <div class="card-body">
      {% if areas %}
      <div class="table">
        <table id="areas-table" class="table align-items-center table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody>
            {% for area in areas %}
            {% if not area.enPapelera %}
            <tr>
              <td>
                <!-- Editar -->
                <a href="editar_area/{{ area.id }}" class="text-warning" role="button">
                  <svg class="nav-icon" width="16" height="16">
                    <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-pencil"></use>
                  </svg>
                </a>

                <!-- Eliminar -->
                <a onclick="return confirm('¿Está seguro de enviarlo a la papelera?')" type="submit"
                  class="text-danger" value="{{ area.id }}" name="deleteButton">
                  <svg class="nav-icon" width="16" height="16">
                    <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-trash"></use>
                  </svg>
                </a>
              </td>
              <td>{{ area }}</td>
              <td>{{ area.descripcion }}</td>
            </tr>

            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p>
        <strong>No hay áreas registradas.</strong>
      </p>
      {% endif %}
    </div>
  </div>
</form>

{% endblock %}
