{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} Nueva área de trabajo {% endblock %}

{% block main %}

<!-- Formulario de registro de áreas -->

<div class="card">
  <div class="card-header fw-semibold">
    <div class="d-flex justify-content-between">
      <div>
        {% if crear %} Registro de nueva área {% else %} Edición de "{{ area.nombre }}" {% endif %}
      </div>
      <div>
        <span class="badge text-bg-dark"><i class="cil-folder-open"></i></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>
      Las áreas describen temáticas generales de trabajo dentro del TCU.
    </p>
    <form method="POST" onsubmit="setFormSubmitting()">
      {% csrf_token %}
      <p>
      <!-- Mensajes -->
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" role="alert">
      {% else %}
      <div class="alert alert-{{ message.tags }}" role="alert">
      {% endif %}
      {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <!-- Formulario -->
      {{ area_form | crispy }}
      </p>
      <button type="submit" class="btn btn-primary btn-block" id="confirm">Registrar</button>
    </form>
  </div>
</div>

<br>

<!-- Advertencia de abandonar sin guardar cambios -->
<script src="{% static 'custom_js/advertencia_abandono.js' %}"></script>
<script src="{% static 'custom_js/confirmar_registro.js' %}"></script>

{% endblock %}