{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}

<div class="container">
</br>
  <h1>Crear Gestion</h1>

<form method="post" enctype="multipart/form-data">


    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    {{solicitud_form|crispy }}
    {{ form.as_p }}
    <button type="submit">Adjuntar</button>
    <button type="submit" class="btn btn-primary btn-block">Continuar</button>
</form>

</div>



{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
