{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}

<div class="container">
</br>
  <h1>Gestiones Administrativas</h1>
 
  <a href="solicitudes\crear_solicitud" class="btn btn-info" role="button">Crear Gestion</a>
  <button type="button" class="btn btn-info" onclick="esconderFiltros()">Ver Filtros</button>
  {% if solicitudes %}
  <button type="button" class="btn btn-info" onclick="checkAll()">Seleccionar Todas</button>
  <button type="button" class="btn btn-info" onclick="uncheckAll()">Limpiar</button>

  {% endif %}
</br>
</br>
<div id="filtrosdiv" style = 'display: none;'>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />

 
  <div class="row">
  {% for field in filtros_form  %}
    <div class="col-sm-4">
      <b>{{ field.label_tag }}</b> - {{ field}} 
    </br>

    </div>
</br>
  {% endfor %}

 
  </div>  
  <button type="submit" style = 'width: 200px; height:40px;' class="btn btn-primary btn-block">Filtrar</button>
 

  
</form>
</br>
</div>


  {% if solicitudes %}
  <form method="post">
    {% csrf_token %}
    {% if request.user.is_staff %}
    <input type="submit" class="btn btn-success" value="Aprobar" name="aprobar">
    <input type="submit" class="btn btn-danger " value="Rechazar" name="rechazar">
    {% endif %}

  </br>
  </br>
  <table id = "datatable" class="table table-striped table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col"></th>
        <th scope="col">Tipo</th>
        <th scope="col">Motivo</th>
        <th scope="col">Fecha</th>
        {% if request.user.is_staff %}
        <th scope="col">Carné</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>

        <th scope="col">Correo de estudiante</th>
        {% endif %}
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for solicitud in solicitudes %}
      <tr>
        <td><input type="checkbox" name="inputs"  value="{{solicitud.id}}"/></td>
        <td>{{ solicitud.get_tipo_display }}</td>

        <td>{{ solicitud.motivo }}</td>
        <td>{{ solicitud.fecha }}</td>
        {% if request.user.is_staff %}
        <td>{{ solicitud.estudiante.user.username}}</td>
        <td>{{ solicitud.estudiante.user.first_name}}</td>
        <td>{{ solicitud.estudiante.user.last_name}}</td>

        <td>{{ solicitud.estudiante.user.email}}</td>

        {% endif %}
        <td>{{ solicitud.get_estado_display}}</td>
      </tr>
      {% endfor %}
  </tbody>
    </table>
    {% else %}
  <strong>No hay solicitudes creadas</strong>
{% endif %}
</form>
</div>


{% endblock %}
