{% extends 'base.html' %}

{% load static %}

{% block page_title %} Solicitudes {% endblock %}

{% load crispy_forms_tags %}

{% block main %}

<!-- Título -->
<h1 class="display-4">Solicitudes</h1>
<p class="lead">
  Gestiones administrativas de estudiantes para los trámites de finalización, prórroga, pasantía y otros.
</p>
<div class="my-3">
  <a href="crear_solicitud" type="button" class="btn btn-outline-info">Crear solicitud</a>
</div>

<!-- Lista de solicitudes: Finalizacion -->
<div class="mt-5" id="finalizacion">
  <form method="post">
    {% csrf_token %}
    <h6 class="text-uppercase font-weight-bolder opacity-6">Lista de solicitudes de finalización</h6>
    <div class="card">
      <div class="card-body">
        <!-- Opciones de aprobación -->
        {% if request.user.is_staff %}
        <input type="submit" class="btn btn-outline-success btn-sm" value="Aprobar" name="aprobar">
        <input type="submit" class="btn btn-outline-danger  btn-sm " value="Rechazar" name="rechazar">
        {% endif %}

        <!-- Opciones de selección -->
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="esconderFiltros()">
          Mostrar filtros
        </button>
        {% if solicitudes %}
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="toggleCheck()">
          Seleccionar todo
        </button>
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="uncheckAll()">
          Limpiar selección
        </button>
        {% endif %}

        <!-- Opciones de filtrado -->
        <div id="filtrosdiv" style='display: none;' class="card">
          <p>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
              <div class="row">
                {% for field in filtros_form %}
                <div class="col-sm-4">
                  <b>{{ field.label_tag }}</b> - {{ field}}
                  </br>
                </div>
                </br>
                {% endfor %}
              </div>
              <button type="submit" class="btn bg-gradient-primary">Filtrar</button>
            </form>
          </div>
          </p>
          </br>
        </div>
        {% if solicitudes %}
        <!-- Tabla -->
        <div class="table table-responsive">
          <table id="datatable" class="table align-items-center table-hover">
            <thead class="thead">
              <tr>
                <th scope="col"></th>
                <th scope="col">Motivo</th>
                <th scope="col">Fecha</th>
                {% if request.user.is_staff %}
                <th scope="col">Carné</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo de estudiante</th>
                {% endif %}
                <th scope="col">Archivo Adjunto</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              {% for solicitud in solicitudes %}

                {% if not solicitud.enPapelera and solicitud.tipo == "F" %}
                  <tr>
                    <td>
                      <!-- Checkbox -->
                      <input class="form-check-input" type="checkbox" name="inputs" value="{{solicitud.id}}" />
          
                      <!-- Edit button -->
                      <br>
                      <a href="editar_solicitud/{{ solicitud.id }}" class="text-warning" role="button">
                        <svg class="nav-icon" width="16" height="16">
                          <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-pencil"></use>
                        </svg>
                      </a>
          
                      <!-- Delete button -->
                      <br>
                      <button onclick="return confirm('Está seguro de enviarlo a la papelera?')"  type="submit" 
                      class="text-danger" value="{{ solicitud.id }}"  name="deleteButton"
                      style="background-color: transparent;  border: 0; padding: 0;">              
                        <svg class="nav-icon" width="16" height="16">
                          <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-trash"></use>
                        </svg>
                      </button>  
                    </td>
                    <td class="fila_tabla"><span class="label Motivo">{{ solicitud.motivo }}</span></td>
                    <td class="fila_tabla"><span class="label Fecha">{{ solicitud.fecha|date:"d, M, Y" }}</span></td>

                    {% if request.user.is_staff %}

                    <td><span class="label Carne">{{ solicitud.estudiante.user.username}}</span></td>
                    <td class="fila_tabla"><span class="label Nombre">{{ solicitud.estudiante.user.first_name}} {{ solicitud.estudiante.user.last_name}}</span></td>
                    <td class="fila_tabla"><span class="label Correo">{{ solicitud.estudiante.user.email}}</span></td>

                    {% endif %}
                    <td>
                      {% for archivo in archivos %}
                            
                        {% if archivo.solicitud_id == solicitud.id %} 
                          <!--
                            Si se quiere abrir archivo en otra ventana:
                            <a href="../media/{{ archivo.archivo}}" >{{ archivo.archivo}}</a>
                          -->
                          
                            <a href="../media/{{ archivo.archivo}}" download >{{ archivo.archivo}}</a>
                          <br/>
                        {% endif %}
                    
                      
                      {% endfor %}
                    </td>
                    <td class="fila_tabla"><span class="label Estado">{{ solicitud.get_estado_display}}</span></td> 
                  </tr>

                {% endif %}
                <td>
                  {% for archivo in archivos %}

                  {% if archivo.solicitud_id == solicitud.id %}
                  <!--
                                  Si se quiere abrir archivo en otra ventana:
                                  <a href="../media/{{ archivo.archivo}}" >{{ archivo.archivo}}</a>
                                -->

                  <a href="../media/{{ archivo.archivo}}" download>{{ archivo.archivo}}</a>
                  <br />
                  {% endif %}


                  {% endfor %}
                </td>
                <td>{{ solicitud.get_estado_display}}</td>

              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% else %}
    <p>
      <strong>No hay solicitudes creadas</strong>
    </p>
    {% endif %}
  </form>
</div>



<!-- Lista de solicitudes: Prórroga -->
<div class="mt-5" id="prorroga">
  <form method="post">
    {% csrf_token %}
    <h6 class="text-uppercase font-weight-bolder opacity-6">Lista de solicitudes de prórroga</h6>
    <div class="card">
      <div class="card-body">
        <!-- Opciones de aprobación -->
        {% if request.user.is_staff %}
        <input type="submit" class="btn btn-outline-success btn-sm" value="Aprobar" name="aprobar">
        <input type="submit" class="btn btn-outline-danger  btn-sm " value="Rechazar" name="rechazar">
        {% endif %}

        <!-- Opciones de selección -->
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="esconderFiltros()">
          Mostrar filtros
        </button>
        {% if solicitudes %}
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="toggleCheck()">
          Seleccionar todo
        </button>
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="uncheckAll()">
          Limpiar selección
        </button>
        {% endif %}

        <!-- Opciones de filtrado -->
        <div id="filtrosdiv" style='display: none;' class="card">
          <p>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
              <div class="row">
                {% for field in filtros_form %}
                <div class="col-sm-4">
                  <b>{{ field.label_tag }}</b> - {{ field}}
                  </br>
                </div>
                </br>
                {% endfor %}
              </div>
              <button type="submit" class="btn bg-gradient-primary">Filtrar</button>
            </form>
          </div>
          </p>
          </br>
        </div>
        {% if solicitudes %}
        <!-- Tabla -->
        <div class="table table-responsive">
          <table id="datatable" class="table align-items-center table-hover">
            <thead class="thead">
              <tr>
                <th scope="col"></th>
                <th scope="col">Motivo</th>
                <th scope="col">Fecha</th>
                {% if request.user.is_staff %}
                <th scope="col">Carné</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo de estudiante</th>
                {% endif %}
                <th scope="col">Archivo Adjunto</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              {% for solicitud in solicitudes %}

                {% if not solicitud.enPapelera and solicitud.tipo == "P" %}
                  <tr>
                    <td>
                      <!-- Checkbox -->
                      <input class="form-check-input" type="checkbox" name="inputs" value="{{solicitud.id}}" />
          
                      <!-- Edit button -->
                      <br>
                      <a href="editar_solicitud/{{ solicitud.id }}" class="text-warning" role="button">
                        <svg class="nav-icon" width="16" height="16">
                          <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-pencil"></use>
                        </svg>
                      </a>
          
                      <!-- Delete button -->
                      <br>
                      <button onclick="return confirm('Está seguro de enviarlo a la papelera?')"  type="submit" 
                      class="text-danger" value="{{ solicitud.id }}"  name="deleteButton"
                      style="background-color: transparent;  border: 0; padding: 0;">              
                        <svg class="nav-icon" width="16" height="16">
                          <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-trash"></use>
                        </svg>
                      </button>  
                    </td>
                    <td class="fila_tabla"><span class="label Motivo">{{ solicitud.motivo }}</span></td>
                    <td class="fila_tabla"><span class="label Fecha">{{ solicitud.fecha|date:"d, M, Y" }}</span></td>

                    {% if request.user.is_staff %}

                    <td><span class="label Carne">{{ solicitud.estudiante.user.username}}</span></td>
                    <td class="fila_tabla"><span class="label Nombre">{{ solicitud.estudiante.user.first_name}} {{ solicitud.estudiante.user.last_name}}</span></td>
                    <td class="fila_tabla"><span class="label Correo">{{ solicitud.estudiante.user.email}}</span></td>

                    {% endif %}
                    <td>
                      {% for archivo in archivos %}
                            
                              {% if archivo.solicitud_id == solicitud.id %} 
                                <!--
                                  Si se quiere abrir archivo en otra ventana:
                                  <a href="../media/{{ archivo.archivo}}" >{{ archivo.archivo}}</a>
                                -->
        
                                <a href="../media/{{ archivo.archivo}}" download >{{ archivo.archivo}}</a>
                                <br/>
                              {% endif %}
                            
                              
                      {% endfor %}
                    </td>
                    <td class="fila_tabla"><span class="label Estado">{{ solicitud.get_estado_display}}</span></td>
                    
                  </tr>
                {% endif %}

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% else %}
    <p>
      <strong>No hay solicitudes creadas</strong>
    </p>
    {% endif %}
  </form>
</div>



<!-- Lista de solicitudes: Pasantía -->
<div class="mt-5" id="pasantia">
  <form method="post">
    {% csrf_token %}
    <h6 class="text-uppercase font-weight-bolder opacity-6">Lista de solicitudes de pasantía</h6>
    <div class="card">
      <div class="card-body">
        <!-- Opciones de aprobación -->
        {% if request.user.is_staff %}
        <input type="submit" class="btn btn-outline-success btn-sm" value="Aprobar" name="aprobar">
        <input type="submit" class="btn btn-outline-danger  btn-sm " value="Rechazar" name="rechazar">
        {% endif %}

        <!-- Opciones de selección -->
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="esconderFiltros()">
          Mostrar filtros
        </button>
        {% if solicitudes %}
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="toggleCheck()">
          Seleccionar todo
        </button>
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="uncheckAll()">
          Limpiar selección
        </button>
        {% endif %}

        <!-- Opciones de filtrado -->
        <div id="filtrosdiv" style='display: none;' class="card">
          <p>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
              <div class="row">
                {% for field in filtros_form %}
                <div class="col-sm-4">
                  <b>{{ field.label_tag }}</b> - {{ field}}
                  </br>
                </div>
                </br>
                {% endfor %}
              </div>
              <button type="submit" class="btn bg-gradient-primary">Filtrar</button>
            </form>
          </div>
          </p>
          </br>
        </div>
        {% if solicitudes %}
        <!-- Tabla -->
        <div class="table mt-2 table-responsive">
          <table id="datatable" class="table align-items-center table-hover">
            <thead class="thead">
              <tr>
                <th scope="col"></th>
                <th scope="col">Motivo</th>
                <th scope="col">Fecha</th>
                {% if request.user.is_staff %}
                <th scope="col">Carné</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo de estudiante</th>
                {% endif %}
                <th scope="col">Archivo Adjunto</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              {% for solicitud in solicitudes %}

                {% if not solicitud.enPapelera and solicitud.tipo == "A" %}
                  <tr>
                    <td>
                      <!-- Checkbox -->
                      <input class="form-check-input" type="checkbox" name="inputs" value="{{solicitud.id}}" />
          
                      <!-- Edit button -->
                      <br>
                      <a href="editar_solicitud/{{ solicitud.id }}" class="text-warning" role="button">
                        <svg class="nav-icon" width="16" height="16">
                          <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-pencil"></use>
                        </svg>
                      </a>
          
                      <!-- Delete button -->
                      <br>
                      <button onclick="return confirm('Está seguro de enviarlo a la papelera?')"  type="submit" 
                      class="text-danger" value="{{ solicitud.id }}"  name="deleteButton"
                      style="background-color: transparent;  border: 0; padding: 0;">              
                        <svg class="nav-icon" width="16" height="16">
                          <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-trash"></use>
                        </svg>
                      </button>  
                    </td>
                    <td class="fila_tabla"><span class="label Motivo">{{ solicitud.motivo }}</span></td>
                    <td class="fila_tabla"><span class="label Fecha">{{ solicitud.fecha|date:"d, M, Y" }}</span></td>
  
                    {% if request.user.is_staff %}
  
                    <td class="fila_tabla"><span class="label Carne">{{ solicitud.estudiante.user.username}}</span></td>
                    <td class="fila_tabla"><span class="label Nombre">{{ solicitud.estudiante.user.first_name}} {{ solicitud.estudiante.user.last_name}}</span></td>
                    <td class="fila_tabla"><span class="label Correo">{{ solicitud.estudiante.user.email}}</span></td>
  
                    {% endif %}
                    <td>
                      {% for archivo in archivos %}
                            
                              {% if archivo.solicitud_id == solicitud.id %} 
                                <!--
                                  Si se quiere abrir archivo en otra ventana:
                                  <a href="../media/{{ archivo.archivo}}" >{{ archivo.archivo}}</a>
                                -->
        
                                <a href="../media/{{ archivo.archivo}}" download >{{ archivo.archivo}}</a>
                                <br/>
                              {% endif %}
                            
                              
                      {% endfor %}
                    </td>
                    <td class="fila_tabla"><span class="label Estado">{{ solicitud.get_estado_display}}</span></td>
                    
                  </tr>
                {% endif %}

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% else %}
    <p>
      <strong>No hay solicitudes creadas</strong>
    </p>
    {% endif %}
  </form>
</div>



<!-- Lista de solicitudes: Otros -->
<div class="mt-5" id="otros">
  <form method="post">
    {% csrf_token %}

    <h6 class="text-uppercase font-weight-bolder opacity-6">Otras solicitudes</h6>
    <div class="card">
      <div class="card-body">
        <!-- Opciones de aprobación -->
        {% if request.user.is_staff %}
        <input type="submit" class="btn btn-outline-success btn-sm" value="Aprobar" name="aprobar">
        <input type="submit" class="btn btn-outline-danger  btn-sm " value="Rechazar" name="rechazar">
        {% endif %}

        <!-- Opciones de selección -->
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="esconderFiltros()">
          Mostrar filtros
        </button>
        {% if solicitudes %}
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="toggleCheck()">
          Seleccionar todo
        </button>
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="uncheckAll()">
          Limpiar selección
        </button>
        {% endif %}

        <!-- Opciones de filtrado -->
        <div id="filtrosdiv" style='display: none;' class="card">
          <p>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
              <div class="row">
                {% for field in filtros_form %}
                <div class="col-sm-4">
                  <b>{{ field.label_tag }}</b> - {{ field}}
                  </br>
                </div>
                </br>
                {% endfor %}
              </div>
              <button type="submit" class="btn bg-gradient-primary">Filtrar</button>
            </form>
          </div>
          </p>
          </br>
        </div>
        {% if solicitudes %}
        <!-- Tabla -->
        <div class="table table-responsive">
          <table id="datatable" class="table align-items-center table-hover">
            <thead class="thead">
              <tr>
                <th scope="col"></th>
                <th scope="col">Motivo</th>
                <th scope="col">Fecha</th>
                {% if request.user.is_staff %}
                <th scope="col">Carné</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo de estudiante</th>
                {% endif %}
                <th scope="col">Archivo Adjunto</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              {% for solicitud in solicitudes %}

                {% if not solicitud.enPapelera and solicitud.tipo == "O" %}
                  <tr>
                    <td>
                      <!-- Checkbox -->
                      <input class="form-check-input" type="checkbox" name="inputs" value="{{solicitud.id}}" />
          
                      <!-- Edit button -->
                      <br>
                      <a href="editar_solicitud/{{ solicitud.id }}" class="text-warning" role="button">
                        <svg class="nav-icon" width="16" height="16">
                          <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-pencil"></use>
                        </svg>
                      </a>
          
                      <!-- Delete button -->
                      <br>
                      <button onclick="return confirm('Está seguro de enviarlo a la papelera?')"  type="submit" 
                      class="text-danger" value="{{ solicitud.id }}"  name="deleteButton"
                      style="background-color: transparent;  border: 0; padding: 0;">              
                        <svg class="nav-icon" width="16" height="16">
                          <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-trash"></use>
                        </svg>
                      </button>  
                    </td>
                    <td class="fila_tabla"><span class="label Motivo">{{ solicitud.motivo }}</span></td>
                    <td class="fila_tabla"><span class="label Fecha">{{ solicitud.fecha|date:"d, M, Y" }}</span></td>
  
                    {% if request.user.is_staff %}
  
                    <td class="fila_tabla"><span class="label Carne">{{ solicitud.estudiante.user.username}}</span></td>
                    <td class="fila_tabla"><span class="label Nombre">{{ solicitud.estudiante.user.first_name}} {{ solicitud.estudiante.user.last_name}}</span></td>
                    <td class="fila_tabla"><span class="label Correo">{{ solicitud.estudiante.user.email}}</span></td>
  
                    {% endif %}
                    <td>
                      {% for archivo in archivos %}
                            
                              {% if archivo.solicitud_id == solicitud.id %} 
                                <!--
                                  Si se quiere abrir archivo en otra ventana:
                                  <a href="../media/{{ archivo.archivo}}" >{{ archivo.archivo}}</a>
                                -->
        
                                <a href="../media/{{ archivo.archivo}}" download >{{ archivo.archivo}}</a>
                                <br/>
                              {% endif %}
                            
                              
                      {% endfor %}
                    </td>
                    <td class="fila_tabla"><span class="label Estado">{{ solicitud.get_estado_display}}</span></td>
                    
                  </tr>
                {% endif %}

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% else %}
    <p>
      <strong>No hay solicitudes creadas</strong>
    </p>
    {% endif %}
  </form>
</div>

<!--Modal-->
<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información adicional</h5>
        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Motivo</dt>
          <dd id="d_motivo"></dd>
          <dt>Fecha</dt>
          <dd id="d_fecha"></dd>
          {% if request.user.is_staff %}
          <dt>Carné</dt>
          <dd id="d_carne"></dd>
          <dt>Nombre</dt>
          <dd id="d_nombre"></dd>
          <dt>Correo del estudiante</dt>
          <dd id="d_correo"></dd>
          {% endif %}
          <dt>Estado</dt>
          <dd id="d_estado"></dd>
        </dl>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!--JQuery para el modal de finalizacion-->
<script>
  $(".fila_tabla").click(function(){
    $('#myModal').modal('show')
    var row = $(this).closest("tr");
    var motivo = row.find(".label.Motivo").html()
    var fecha = row.find(".label.Fecha").html()
    var carne = row.find(".label.Carne").html()
    var nombre = row.find(".label.Nombre").html()
    var correo = row.find(".label.Correo").html()
    //var archivo = row.find(".label.Archivo").html()
    var estado = row.find(".label.Estado").html()

    $('#d_motivo').text(motivo)
    $('#d_fecha').text(fecha)
    $('#d_carne').text(carne)
    $('#d_nombre').text(nombre)
    $('#d_correo').text(correo)
    //$('#d_archivo').text(motivo)
    $('#d_estado').text(estado)
  });

  //OCULTAR LAS COLUMNAS CORRESPONDIENTES

  $('td:nth-child(4),th:nth-child(4)').hide();
  $('td:nth-child(6),th:nth-child(6)').hide();
  //$('td:nth-child(7),th:nth-child(7)').hide();
</script>

<br>

{% endblock %}
