{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} Nuevo proyecto {% endblock %}

{% block main %}

<!-- Formulario de registro de áreas -->

<div class="card">
  <div class="card-header fw-semibold">
    <div class="d-flex justify-content-between">
      <div>
        {% if crear %} Registro de nuevo proyecto {% else %} Edición de "{{ proyecto.nombre }}" {% endif %}
      </div>
      <div>
        <span class="badge text-bg-dark"><i class="cil-description"></i></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Los proyectos deben ser planteados con una descripción y objetivos (implementación pendiente).</p>
    <form method="POST" onsubmit="setFormSubmitting()">
      {% csrf_token %}
      <p>
      <!-- Mensajes -->
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" role="alert">
      {% else %}
      <div class="alert alert-{{ message.tags }}" role="alert">
      {% endif %}
      {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <!-- Formulario -->
      {{ proyecto_form | crispy }}

      <br/>
      <br/>      
      <h6>Objetivos</h6>
      <ul id="listaDeObjetivos">
        {% if objetivos %}
          {% for objetivo in objetivos%}
          <li class = "objetivo">{{ objetivo.descripcion }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    
      <a class="btn btn-dark btn-sm" data-coreui-toggle="collapse" href="#incluirObjetivo" role="button"
        aria-expanded="false" aria-controls="incluirObjetivo">
        <i class="bi bi-plus-circle"></i>Añadir objetivo<!-- Mostrar filtros -->
      </a>
      <br/>
      <br/>
        <!--Espacio para incluir objetivos.-->
        <div class = "collapse" id ="incluirObjetivo">
          <h6>Descripción del objetivo</h6>
          <textarea class="textinput textInput form-control" id="descripcionObjetivo"></textarea>
          <br/>
          <button class="btn btn-primary"type="button" onclick="saveObjective()">Guardar</button>
        </div>
      <br/>
      <br/>

      
    
      </p>
      <button type="submit" class="btn btn-primary btn-block" onClick="return confirmarRegistro();">Registrar</button>
    </form>
  </div>
</div>

<br>

<!-- Advertencia de abandonar sin guardar cambios -->
<script>
  var formSubmitting = false;
  var setFormSubmitting = function () { formSubmitting = true; };

  window.onload = function () {
    window.addEventListener("beforeunload", function (e) {
      if (formSubmitting) {
        return undefined;
      }

      var confirmationMessage = 'It looks like you have been editing something. '
        + 'If you leave before saving, your changes will be lost.';

      (e || window.event).returnValue = confirmationMessage; //Gecko + IE
      return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
    });
  };


</script>

<script>
const descripcionObjetivos = [];

//Recupera field escondido del form que permitirá llevar string de objetivos
//al servidor
const tmp_json = document.querySelector("#id_temp_obj_json")

const objetivos = document.getElementsByClassName("objetivo")
initializeObjectives()

function initializeObjectives(){
  //Puebla arreglo de descripciones con objetivos existentes.
  //A cada entrada le asigna el botón de borrado.
  for(let i = 0; i < objetivos.length; i++){
    descripcionObjetivos.push(objetivos[i].innerHTML)
    appendDeleteButton(i, objetivos[i])
  }

  //Valor default, indica si objetivos fueron modificados
  tmp_json.value = "!#!"
}



//TODO: dar al usuario posibilidad de eliminar objetivos
function saveObjective(){
  
  //Recupera div que contiene descripcion del objetivo
  const objForm = document.querySelector("#incluirObjetivo")

  //Del div que contiene form del objetivo, recupera campo de descripcion
  //del objetivo
  const descripcion = objForm.querySelector("#descripcionObjetivo")
  
  //No incluir objetivos vacíos
  if(descripcion.value != ""){
      //Recupera elemento <ul> que contendrá lista de objetivos definida por usuario
      const listaDeObjetivos = document.querySelector("#listaDeObjetivos")
      
      //Guarda descripcion del objetivo en arreglo temporal
      descripcionObjetivos.push(descripcion.value);
      
      //Crea elemento que dará feedback al usuario cuando este cree un objetivo
      //y puebla su contenido
      const nuevoObjetivo = document.createElement("li")
      nuevoObjetivo.id = descripcionObjetivos.length -1;
      nuevoObjetivo.innerHTML = descripcion.value
      
      appendDeleteButton(descripcionObjetivos.length -1, nuevoObjetivo)
      
      //Añade elemento recién creado a lista de objetivos
      listaDeObjetivos.appendChild(nuevoObjetivo)
      
      //Guarda string JSON de lista actual de objetivos en campo 
      //escondido de form de proyectos.
      tmp_json.value = JSON.stringify(descripcionObjetivos)
      
      descripcion.value = ""
    }
  }

  function appendDeleteButton(id, objectiveElement){
    //Crea botón e icono para eliminar objetivo
    const deleteButton = document.createElement("a")
    const trashIcon = document.createElement("i")
    //Asigna clases para que los elementos reciban estilos
    trashIcon.classList.add("icon")
    trashIcon.classList.add("cil-trash")
    deleteButton.classList.add("text-danger")
    //El elemento <a> adopta al icono para mejor UI
    deleteButton.appendChild(trashIcon)
    //Por último, el elemento <li> que contiene el objetivo
    //adopta a <a>
    objectiveElement.appendChild(deleteButton)
    
    deleteButton.addEventListener("click",()=>{
      //Elimina objetivo del arreglo y deja espacio vacío
      delete descripcionObjetivos[id]
      //Elimina el elemento del DOM
      objectiveElement.remove()

      //Guarda el arreglo actual
      tmp_json.value = JSON.stringify(descripcionObjetivos)
    
      console.log(`Objetivos: ${descripcionObjetivos}`)
    })

  }
</script>

<!-- Confirmación de creación de registro -->
<script type="text/javascript">
  function confirmarRegistro() {
    var creacion = confirm('¿Desea crear el nuevo registro?');
    if (creacion) {
      const collection = document.getElementsByClassName("alert alert-success");

      collection[0].setAttribute("style", "display:block");
    }

    return creacion
  }
</script>

{% endblock %}