{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} Nuevo proyecto {% endblock %}

{% block main %}

<!-- Formulario de registro de áreas -->

<div class="card">
  <div class="card-header fw-semibold">
    <div class="d-flex justify-content-between">
      <div>
        {% if crear %} Registro de nuevo proyecto {% else %} Edición de "{{ proyecto.nombre }}" {% endif %}
      </div>
      <div>
        <span class="badge text-bg-dark"><i class="cil-description"></i></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Los proyectos deben ser planteados con una descripción y objetivos (implementación pendiente).</p>
    <form method="POST" onsubmit="setFormSubmitting()">
      {% csrf_token %}
      <p>
      <!-- Mensajes -->
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" role="alert">
      {% else %}
      <div class="alert alert-{{ message.tags }}" role="alert">
      {% endif %}
      {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <!-- Formulario -->
      {{ proyecto_form | crispy }}

      <br/>
      <br/>      
      <h6>Objetivos</h6>
      <ul id="listaDeObjetivos">
        {% if objetivos %}
          {% for objetivo in objetivos%}
          <li class = "objetivo">{{ objetivo.descripcion }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    
      <a class="btn btn-dark btn-sm" data-coreui-toggle="collapse" href="#incluirObjetivo" role="button"
        aria-expanded="false" aria-controls="incluirObjetivo">
        <i class="bi bi-plus-circle"></i>Añadir objetivo<!-- Mostrar filtros -->
      </a>
      <br/>
      <br/>
        <!--Espacio para incluir objetivos.-->
        <div class = "collapse" id ="incluirObjetivo">
          <h6>Descripción del objetivo</h6>
          <textarea class="textinput textInput form-control" id="descripcionObjetivo"></textarea>
          <br/>
          <button class="btn btn-primary"type="button" onclick="saveObjective()">Guardar</button>
        </div>
      <br/>
      <br/>

      
    
      </p>
      <button type="submit" class="btn btn-primary btn-block" id="confirm">Registrar</button>
    </form>
  </div>
</div>

<br>

<!-- Advertencia de abandonar sin guardar cambios -->
<script src="{% static 'custom_js/advertencia_abandono.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_js/crear_proyecto.js' %}"></script>
<!-- Confirmación de creación de registro -->
<script type="text/javascript" src="{% static 'custom_js/confirmar_registro.js' %}"></script>

{% endblock %}