{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
<div class="container">
</br>
  <h1>Proyectos</h1>
  <a href="proyectos\crear_proyecto" class="btn btn-info" role="button">Agregar Proyecto</a>
</br>
</br>
  {% if proyectos %}
  <table class="table table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Profesor</th>
        <th scope="col">Categorias</th>
        <th scope="col">Ubicación</th>
      </tr>
    </thead>
    <tbody>
      {% for proyecto in proyectos %}
      <tr>
        <td>{{ proyecto.nombre }}</td>
        <td>{{ proyecto.descripcion }}</td>
        <td>{{ proyecto.profesor.user.first_name }}</td>
        <td>{% for categoria in proyecto.categoria.all %}{{ categoria.nombre}}<br/>{% endfor %}</td>
        <td>{{ proyecto.ubicacion }}</td>
      </tr>
      {% endfor %}
  </tbody>
    </table>
    {% else %}
  <strong>No hay proyectos registrados</strong>
{% endif %}
</div>
{% endblock %}
