{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
<div class="container">
</br>
  <h1>Proyectos</h1>
  <a href="proyectos\crear_proyecto" class="btn btn-info" role="button">Agregar Proyecto</a>
  <a href="proyectos\crear_categoria" class="btn btn-info" role="button">Agregar Categoria</a>
  <button type="button" class="btn btn-info" onclick="esconderFiltros()">Ver Filtros</button>
</br>
</br>
<div id="filtrosdiv" style = 'display: none;'>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />

 
  <div class="row">
  {% for field in filtros_form  %}
    <div class="col-sm-4">
      <b>{{ field.label_tag }}</b> - {{ field}} 
    </br>

    </div>
</br>
  {% endfor %}

 
  </div>  
  <button type="submit" style = 'width: 200px; height:40px;' class="btn btn-primary btn-block">Filtrar</button>
 

  
</form>
</br>
</div>
  {% if proyectos %}
  <table id="datatable" class="table table-striped table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Profesor</th>
        <th scope="col">Categorias</th>
        <th scope="col">Ubicación</th>
      </tr>
    </thead>
    <tbody>
      {% for proyecto in proyectos %}
      <tr>
        <td>{{ proyecto.nombre }}</td>
        <td>{{ proyecto.descripcion }}</td>
        <td>{{ proyecto.profesor.user.first_name }}</td>
        <td>{% for categoria in proyecto.categoria.all %}{{ categoria.nombre}}<br/>{% endfor %}</td>
        <td>{{ proyecto.ubicacion }}</td>
      </tr>
      {% endfor %}
  </tbody>
    </table>
    {% else %}
  <strong>No hay proyectos registrados</strong>
{% endif %}
</div>
{% endblock %}



