{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} {{ proyecto.nombre }} {% endblock %}

{% block main %}

<!-- Título -->
<span class="badge rounded-pill text-bg-info text-white">Proyecto</span>
<div class="d-flex justify-content-between">
  <div>
    <h1 class="display-4">{{ proyecto.nombre }}</h1>
  </div>
  <div>
    <h1><span class="badge text-bg-info text-white"><i class="fa-solid fa-{{ proyecto.icono }}"></i></span></h1>
  </div>
</div>

<!-- Descripción -->
<p class="lead">
  {{ proyecto.descripcion }}
</p>

<!-- Objetivos y tareas -->
<h6 class="text-uppercase font-weight-bolder opacity-6">Objetivos y tareas</h6>
<p>
<div class="accordion accordion-flush" id="objetivos">
  {% for objetivo, tareas in objetivos_tareas %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading_{{ forloop.counter }}">
      <button class="accordion-button collapsed bg-light" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapse_{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse_{{ forloop.counter }}">
        <div class="d-flex align-items-center">
          <div class="p-1"><span class="badge text-bg-dark">{{ objetivo.numero }}</span></div>
          <div class="p-1">{{ objetivo.descripcion }}</div>
        </div>
      </button>
    </h2>
    <div id="collapse_{{ forloop.counter }}" class="accordion-collapse collapse bg-light" aria-labelledby="heading_{{ forloop.counter }}" data-coreui-parent="#objetivos">
      <div class="accordion-body">
        <p><i class="icon cil-task"></i> <strong>Tareas</strong></p>
        <dl>
          {% for tarea in tareas %}
          <dt>{{ tarea.nombre }}</dt>
          <dd>{{ tarea.descripcion }}</dd>
        
          <h6>Estudiantes asignados</h6>
          <ul>
          {% for estudiante in tarea.estudiante.all%}
           <li>{{estudiante.user.first_name}} {{estudiante.user.last_name}}</li>
          {% endfor %}
          </ul>
          {% empty %}
          <dt><em>¡No hay tareas todavía!</em></dt>
          <dd>Es posible crear tareas para este objetivo <a href="{% url 'crear_tarea' %}" target="_blank">aquí</a>.</dd>          
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</p>

<!-- Docente(s) -->
<h6 class="text-uppercase font-weight-bolder opacity-6">Docente{{ proyecto.profesor.all.count | pluralize }}</h6>
<p>
  {% for profesor in proyecto.profesor.all %}
  {{ profesor.user.first_name }} {{ profesor.user.last_name }} <br>
  {% endfor %}
</p>

<!-- Ubicación -->
<h6 class="text-uppercase font-weight-bolder opacity-6">Ubicación</h6>
<p>{{ proyecto.ubicacion }}</p>

<!-- Edición -->
{% if request.user.is_staff %}
<p>
<a href="editar_proyecto/{{ proyecto.id }}" class="text-warning small" role="button" style="text-decoration: none;">
  <i class="icon cil-pencil"></i> Editar
</a>
</p>
{% endif %}

{% endblock %}