{% extends 'sitio.html' %} {% load crispy_forms_tags %} {% block main %}  {% load static %}
<div class="container">
</br>
  <!-- Título -->
  <h1 >Proyectos</h1>
  <p>
    Los proyectos pueden pertenecer a varias areas.
  </p>
 
</br>
</br>

<!-- Lista de proyectos -->
<h2 class="text-uppercase font-weight-bolder opacity-6">Lista de proyectos</h2>
 
{% for proyecto in listaProyectos %}
<div>
  <a  class="text-info"  href="proyectoIndividual/{{ proyecto.id }}" role="button">
    <i class="	fa fa-address-card"></i>
  </a>
  <p>{{ proyecto.nombre }}</p>
</div>
{% endfor %}
</div>
{% endblock %}



