{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <base href="http://127.0.0.1:8000/" />
  </head>
  <body>
    <!--Navbar-->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="#">Registro de Actividades TCU-691</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Registro de Actividades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solicitudes/">Gestiones Administrativas</a>
      </li>
      {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="/proyectos/">Proyectos</a>
      </li>
      {% endif %}
     
    </ul>
    <ul class="navbar-nav ml-auto">
      <span class="navbar-text">
        Bievenido, {{user.username}}
      </span>
      <li class="nav-item">
        <a class="nav-link" href="cuentas/logout/">Logout</a>
      </li>
    </ul>
    
    
  </div>
</nav>
          {% block main %} {% endblock %}    
   
    {% endif %}
  </body>
</html>
