{% extends 'base-cuentas.html' %}

{% load static %}

{% block main %}

<form method="post">

  {% csrf_token %}

  <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card-group d-block d-md-flex row">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card col-md-7 p-4 mb-0">
              <div class="card-body">
                <h1>Inicio de sesión</h1>
                <p class="text-medium-emphasis">Ingresar a la cuenta creada para estudiantes matriculados y profesores.</p>
                <!-- Formulario -->
                <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-user"></use>
                    </svg></span>
                  <input class="form-control" type="text" name="username" required id="id_username"
                    placeholder="Identificación" autofocus>
                </div>
                <div class="input-group mb-4"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-lock-locked"></use>
                    </svg></span>
                  <input class="form-control" type="password" name="password" required id="id_password"
                    placeholder="Contraseña">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-dark px-4" type="submit">Continuar</button>
                  </div>
                  <div class="col-6 text-end">
                    <button class="btn btn-link px-0" type="button">¿Olvidó la contraseña?</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-md-5 text-white bg-dark py-5">
              <div class="card-body text-center">
                <div>
                  <p><img src="{% static 'img/tcu_color.png' %}" alt="Logo TCU" width="100"></p>
                  <h2><strong>Tropicalización</strong> <br> de la tecnología</h2>
                  <p>Este es un sistema de registro de horas y asignación de tareas para estudiantes
                    matriculados en el proyecto TC-691.
                  </p>
                  <a class="btn btn-outline-light" href="mailto:tropicalizacion@ucr.ac.cr" target="_blank" role="button">Contacto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>

{% endblock %}