{% extends 'accounts_base.html' %} {% load crispy_forms_tags %} {% block main %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Iniciar Sesión</h4>
    
    <form method="post">
     

      {% csrf_token %}

      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      
      <input type="hidden" name="next" value="{{ next }}" />

      {{login_form|crispy }}

      <button type="submit" class="btn btn-primary btn-block">Continuar</button>

      
    </form>

    <p class="text-center">
      ¿No tiene una cuenta? <a href="/cuentas/register">Crear cuenta nueva</a>.
    </p>
  </div>
</div>

{% endblock %}
