{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %} Perfil {% endblock %}

{% block main %}

<!-- Título y descripción -->
<h1 class="display-4">¡Hola, {{ estudiante.user.first_name }}!</h1>
<p class="lead">
  Información de matrícula en TC-691 "Tropicalización de la tecnología".
</p>

<!-- Datos personales -->
<h6 class="text-uppercase font-weight-bolder opacity-6">Datos personales</h6>

<table class="table table-sm table-responsive">
  <tbody>
    <tr>
      <th class="text-end" scope="row" class="col-6">Nombre</th>
      <td>{{ estudiante.user.first_name }} {{ estudiante.user.last_name }}</td>
    </tr>
    <tr>
      <th class="text-end" scope="row" class="col-6">Carné</th>
      <td>{{ estudiante.user }}</td>
    </tr>
    <tr>
      <th class="text-end" scope="row" class="col-6">Carrera</th>
      <td>{{ estudiante.carrera.nombre }}</td>
    </tr>
    <tr>
      <th class="text-end" scope="row" class="col-6">Tutor</th>
      <td>{{ estudiante.tutor }}</td>
    </tr>
    <tr>
      <th class="text-end" scope="row" class="col-6">Fecha de inicio</th>
      <td>{{ estudiante.fecha_inicio }}</td>
    </tr>
    <tr>
      <th class="text-end" scope="row" class="col-6">Fecha de finalización</th>
      <td>{{ estudiante.fecha_final }}</td>
    </tr>
  </tbody>
</table>

<br>

<!-- Ajustes -->
<h6 id="ajustes" class="text-uppercase font-weight-bolder opacity-6">Ajustes</h6>

<!-- Cambio de contraseña -->
<p>
  <a class="btn btn-secondary" data-coreui-toggle="collapse" href="#cambioClave" role="button" aria-expanded="false"
    aria-controls="cambioClave">
    Cambio de contraseña
  </a>
</p>

{% if messages %}
{% for message in messages %}
<div class="alert alert-info" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}

<p>
<div class="collapse" id="cambioClave">
  <div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <p>
          {{ form | crispy }}
        </p>
        <button type="submit" class="btn btn-primary">Cambiar</button>
      </form>
    </div>
  </div>
</div>
</p>

<br>

{% endblock %}