{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block page_title %} Registro de estudiantes {% endblock %}

{% block main %}

<!-- Formulario de registro de estudiantes -->
<div class="card">
  <div class="card-header fw-semibold">
    <div class="d-flex justify-content-between">
      <div>
        Registro de estudiantes
      </div>
      <div>
        <span class="badge text-bg-dark"><i class="cil-user-plus"></i></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form method="POST" onsubmit="setFormSubmitting()">
      {% csrf_token %}
      <p>
      <!-- Mensajes -->
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" role="alert">
      {% else %}
      <div class="alert alert-{{ message.tags }}" role="alert">
      {% endif %}
      {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <!-- Formulario -->
      {{ register_form | crispy }}
      </p>
      <button type="submit" class="btn btn-primary btn-block">Registrar</button>
    </form>
  </div>
</div>

<br>

<!-- Aviso de salir de página sin guardar -->
<script src="{% static 'custom_js/advertencia_abandono.js' %}"></script>

{% endblock %}