{% extends 'accounts_base.html' %} {% load crispy_forms_tags %} {% block main %}
<script>
  var formSubmitting = false;
  var setFormSubmitting = function() { formSubmitting = true; };
  
  window.onload = function() {
      window.addEventListener("beforeunload", function (e) {
          if (formSubmitting) {
              return undefined;
          }
  
          var confirmationMessage = 'It looks like you have been editing something. '
                                  + 'If you leave before saving, your changes will be lost.';
          
          (e || window.event).returnValue = confirmationMessage; //Gecko + IE
          return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
      });
  };
  </script>
<!--Register-->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Registro</h4>
    <form method="POST" onsubmit="setFormSubmitting()">
      {% csrf_token %} 
      
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {{ register_form|crispy }}
      <button type="submit" class="btn btn-primary btn-block">Continuar</button>
    </form>
    <p class="text-center">
      Si ya tiene una cuenta, <a href="/cuentas/login">inicie sesión</a>
    </p>
  </div>
</div>
{% endblock %}
