{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %} {% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<div class="container">
</br>

  <h1 class="display-4">Dashboard</h1>
</br>

{% if not request.user.is_staff %}
<h2>Progreso de horas</h2>
</br>

  <div class="progress-wrapper">
    <div class="progress-info">
      <div class="progress-percentage">
        <span class="text-sm font-weight-bold">{{ progreso }} horas de 300</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="66.0" aria-valuemin="0" aria-valuemax="100" style="width: 66.0%;"></div>
      
    </div>
    
  </div>
</br>


<h2>Dias desde inicio del TCU</h2>
</br>

  <div class="progress-wrapper">
    <div class="progress-info">
      <div class="progress-percentage">
        <span class="text-sm font-weight-bold">Fecha Inicio TCU:          {{ inicioTCU }} </span> </br>
        <span class="text-sm font-weight-bold">Fecha Finalización TCU:    {{ finalTCU }} </span> </br></br>
        <span class="text-sm font-weight-bold">{{ diasTCU }} dias de {{ totalDiasTCU }}</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="66.0" aria-valuemin="0" aria-valuemax="100" style="width: 66.0%;"></div>
      
    </div>
    
  </div>
</br>


<div id="container" style="width: 75%;">
  <canvas id="bar-chart"></canvas>
</div>

<div id="container" style="width: 75%;">
  <canvas id="pie-chart"></canvas>
</div>




{% endif %}
</div>
<!--Script para barra de progreso de horas-->
<script type="text/javascript">
  const collection = document.getElementsByClassName("progress-bar bg-gradient-primary");
  
  collection[0].setAttribute("aria-valuenow", "{{porcentaje}}");
  collection[0].setAttribute("style", "width: {{width}}%;");

  collection[1].setAttribute("aria-valuenow", "{{porcentajeDaysYear}}");
  collection[1].setAttribute("style", "width: {{porcentajeWidthDaysYear}}%;");
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

  const ctx = document.getElementById('bar-chart').getContext('2d');
  var listData = "{{ data|safe }}"
  var listLabels =  "{{ labels|safe }}"
  var newlistData = listData.split(',')
  var newlistLabels = listLabels.split(',')
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: newlistLabels,
          datasets: [{
              label: 'Actividades por tareas',
              data: newlistData,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
             
             
          }]
         
      },
      options: {
         responsive: true,
          
      }
  });
</script>

<script>

  const ctx2 = document.getElementById('pie-chart').getContext('2d');
  var listData = "{{ data|safe }}"
  var listLabels =  "{{ labels|safe }}"
  var newlistData = listData.split(',')
  var newlistLabels = listLabels.split(',')
  const myChart2 = new Chart(ctx2, {
      type: 'pie',
      data: {
          
          datasets: [{
              
              data: newlistData,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 65, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              label: 'Actividades por tareas'
          
             
          }],
          labels: newlistLabels
          
      },
      options: {
         responsive: true,
          
      }
  });
</script>
{% endblock %}



